In [98]:
import pandas as pd
import numpy as np
import urllib.request
import zipfile
import random
import itertools
import math

In [99]:
import shapefile
from shapely.geometry import Polygon
from descartes.patch import PolygonPatch
import matplotlib as mpl
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

In [112]:
df = pd.read_csv("/Users/ranjani/taxidata/green_tripdata_2019-01.csv")
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [114]:
loc_data = pd.read_csv("/Users/ranjani/taxidata/mygeodata/taxi_zones.csv")
loc_data.head()

,X,Y,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough
0,9.352230e+05,190535.052575,1,0.116357,0.000782,Newark Airport,1,EWR
1,1.032516e+06,167292.493195,2,0.433470,0.004866,Jamaica Bay,2,Queens
2,1.025883e+06,254779.600631,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx
3,9.906188e+05,203105.532318,4,0.043567,0.000112,Alphabet City,4,Manhattan
4,9.314680e+05,139837.478389,5,0.092146,0.000498,Arden Heights,5,Staten Island

In [115]:
df = df.join(loc_data.set_index('LocationID'),on=['PULocationID'])
df.drop(['OBJECTID', 'Shape_Leng', 'Shape_Area', 'zone', 'borough'], axis=1, inplace=True)
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,X,Y
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,...,0.00,0.0,NaN,0.3,4.30,2,1,NaN,NaN,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,...,0.00,0.0,NaN,0.3,7.30,2,1,NaN,9.910231e+05,190887.289491
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,...,0.00,0.0,NaN,0.3,5.80,1,1,NaN,9.939749e+05,190123.280316
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,...,2.96,0.0,NaN,0.3,19.71,1,1,NaN,9.930512e+05,185993.846228
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,...,0.00,0.0,NaN,0.3,19.30,2,1,NaN,1.019626e+06,208344.701571

In [116]:
df.rename(columns={'X': 'PULocationX', 'Y': 'PULocationY'}, inplace=True)

In [117]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,PULocationX,PULocationY
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,...,0.00,0.0,NaN,0.3,4.30,2,1,NaN,NaN,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,...,0.00,0.0,NaN,0.3,7.30,2,1,NaN,9.910231e+05,190887.289491
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,...,0.00,0.0,NaN,0.3,5.80,1,1,NaN,9.939749e+05,190123.280316
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,...,2.96,0.0,NaN,0.3,19.71,1,1,NaN,9.930512e+05,185993.846228
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,...,0.00,0.0,NaN,0.3,19.30,2,1,NaN,1.019626e+06,208344.701571

In [118]:
df = df.join(loc_data.set_index('LocationID'),on=['DOLocationID'])
df.drop(['OBJECTID', 'Shape_Leng', 'Shape_Area', 'zone', 'borough'], axis=1, inplace=True)
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,PULocationX,PULocationY,X,Y
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,...,NaN,0.3,4.30,2,1,NaN,NaN,NaN,NaN,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,...,NaN,0.3,7.30,2,1,NaN,9.910231e+05,190887.289491,9.939749e+05,190123.280316
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,...,NaN,0.3,5.80,1,1,NaN,9.939749e+05,190123.280316,9.930512e+05,185993.846228
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,...,NaN,0.3,19.71,1,1,NaN,9.930512e+05,185993.846228,9.983427e+05,191392.639499
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,...,NaN,0.3,19.30,2,1,NaN,1.019626e+06,208344.701571,1.024007e+06,190740.616459

In [127]:
df.rename(columns={'X': 'DOLocationX', 'Y': 'DOLocationY'}, inplace=True)

df.count()

VendorID                 637062
lpep_pickup_datetime     637062
lpep_dropoff_datetime    637062
store_and_fwd_flag       637062
RatecodeID               637062
PULocationID             637062
DOLocationID             637062
passenger_count          637062
trip_distance            637062
fare_amount              637062
extra                    637062
mta_tax                  637062
tip_amount               637062
tolls_amount             637062
ehail_fee                     0
improvement_surcharge    637062
total_amount             637062
payment_type             637062
trip_type                637062
congestion_surcharge      85283
PULocationX              637062
PULocationY              635721
DOLocationX              637062
DOLocationY              634937
dtype: int64

In [120]:
df['PULocationX'] = df['PULocationX'].apply(lambda x: '{:.2f}'.format(x))
df['DOLocationX'] = df['DOLocationX'].apply(lambda x: '{:.2f}'.format(x))
print(df)

        VendorID lpep_pickup_datetime lpep_dropoff_datetime  \
0              2  2018-12-21 15:17:29   2018-12-21 15:18:57
1              2  2019-01-01 00:10:16   2019-01-01 00:16:32
2              2  2019-01-01 00:27:11   2019-01-01 00:31:38
3              2  2019-01-01 00:46:20   2019-01-01 01:04:54
4              2  2019-01-01 00:19:06   2019-01-01 00:39:43
5              2  2019-01-01 00:12:35   2019-01-01 00:19:09
6              2  2019-01-01 00:47:55   2019-01-01 01:00:01
7              1  2019-01-01 00:12:47   2019-01-01 00:30:50
8              2  2019-01-01 00:16:23   2019-01-01 00:39:46
9              2  2019-01-01 00:58:02   2019-01-01 01:19:02
10             2  2019-01-01 00:37:00   2019-01-01 00:56:42
11             2  2019-01-01 00:13:48   2019-01-01 00:21:00
12             2  2019-01-01 00:19:59   2019-01-01 00:45:50
13             2  2019-01-01 00:57:57   2019-01-01 01:20:10
14             1  2019-01-01 00:09:02   2019-01-01 00:17:50
15             1  2019-01-01 00:22:12   2019-01-01 00:25:29
16             1  2019-01-01 00:31:55   2019-01-01 00:52:59
17             2  2019-01-01 00:30:20   2019-01-01 00:54:19
18             2  2018-12-31 23:58:06   2019-01-01 00:00:57
19             2  2019-01-01 00:40:17   2019-01-01 00:50:23
20             2  2019-01-01 00:51:16   2019-01-01 01:04:10
21             2  2019-01-01 00:30:28   2019-01-01 00:41:18
22             2  2019-01-01 00:26:59   2019-01-01 01:01:33
23             2  2019-01-01 00:39:09   2019-01-01 00:42:32
24             2  2019-01-01 00:35:13   2019-01-01 01:18:53
25             1  2019-01-01 00:35:52   2019-01-01 00:40:00
26             1  2019-01-01 00:48:27   2019-01-01 00:55:49
27             2  2019-01-01 00:01:21   2019-01-01 00:08:45
28             2  2019-01-01 00:24:39   2019-01-01 00:43:17
29             2  2019-01-01 00:44:25   2019-01-01 00:53:03
...          ...                  ...                   ...
630888         2  2019-01-31 23:58:41   2019-02-01 00:14:46
630889         2  2019-01-31 23:18:32   2019-01-31 23:26:20
630890         2  2019-01-31 23:44:16   2019-01-31 23:53:56
630891         2  2019-01-31 23:13:38   2019-01-31 23:18:15
630892         2  2019-01-31 23:27:05   2019-01-31 23:34:09
630893         2  2019-01-31 23:22:16   2019-01-31 23:30:19
630894         2  2019-01-31 23:29:03   2019-01-31 23:44:04
630895         2  2019-01-31 23:23:29   2019-01-31 23:30:08
630896         2  2019-01-31 23:42:41   2019-01-31 23:49:52
630897         2  2019-01-31 23:03:41   2019-01-31 23:18:32
630898         2  2019-01-31 23:41:27   2019-02-01 00:08:09
630899         2  2019-01-31 23:11:20   2019-01-31 23:27:26
630900         2  2019-01-31 23:37:17   2019-01-31 23:40:13
630901         2  2019-01-31 23:41:04   2019-01-31 23:50:16
630902         2  2019-02-01 00:00:57   2019-02-01 00:07:24
630903         2  2019-01-31 23:24:54   2019-01-31 23:30:43
630904         1  2019-01-31 23:11:08   2019-01-31 23:29:02
630905         2  2019-01-31 23:09:10   2019-01-31 23:11:45
630906         2  2019-01-31 23:24:28   2019-01-31 23:33:51
630907         2  2019-01-31 23:26:48   2019-01-31 23:33:23
630908         2  2019-01-31 23:04:16   2019-01-31 23:12:33
630909         2  2019-01-31 23:21:46   2019-01-31 23:25:47
630910         2  2019-01-31 23:11:37   2019-01-31 23:20:08
630911         2  2019-01-31 23:54:11   2019-02-01 00:00:38
630912         2  2019-01-31 23:45:17   2019-02-01 00:00:40
630913         2  2019-01-31 23:08:27   2019-01-31 23:22:59
630914         2  2019-01-31 23:21:26   2019-01-31 23:23:05
630915         2  2019-01-31 23:30:05   2019-01-31 23:36:14
630916         2  2019-01-31 23:59:58   2019-02-01 00:04:18
630917         2  2019-01-31 23:18:22   2019-01-31 23:26:06

       store_and_fwd_flag  RatecodeID  PULocationID  DOLocationID  \
0                       N           1           264           264
1                       N           1            97            49
2                       N           1            49           189
3                       N           1           189            17
4                       N           1            82           258
5                       N           1            49            17
6                       N           1           255            33
7                       N           1            76           225
8                       N           1            25            89
9                       N           1            85            39
10                      N           1           223           238
11                      N           1           129           129
12                      N           1            71            71
13                      N           1            85           177
14                      N           1           256            80
15                      N           1            80            80
16                      N           1           256           229
17                      N           1           255           231
18                      N           1           146             7
19                      N           1           146           129
20                      N           1           129           157
21                      N           1           256           112
22                      N           1            66            68
23                      N           1             7             7
24                      N           1            74            62
25                      N           1             7           260
26                      N           1             7           223
27                      N           1            97           181
28                      N           1           181            17
29                      N           1            17           256
...                   ...         ...           ...           ...
630888                  N           1           260            56
630889                  N           1            41           238
630890                  N           1            74           116
630891                  N           1            75            75
630892                  N           1            75            74
630893                  N           1            82           226
630894                  N           1           260           198
630895                  N           1            80            36
630896                  N           1            80           256
630897                  N           1            92             9
630898                  N           1            92           193
630899                  N           1           226           129
630900                  N           1           260            82
630901                  N           1            82           129
630902                  N           1            49            61
630903                  N           1            42            41
630904                  N           1            66           107
630905                  N           1            41            42
630906                  N           1           189            17
630907                  N           1            80           112
630908                  N           1            95            28
630909                  N           1           134           134
630910                  N           1            37           255
630911                  N           1           226           226
630912                  N           1           247           166
630913                  N           1           255           226
630914                  N           1            75           151
630915                  N           1            75           238
630916                  N           1            74            74
630917                  N           1            75           262

        passenger_count  trip_distance  fare_amount  ...  ehail_fee  \
0                     5           0.00          3.0  ...        NaN
1                     2           0.86          6.0  ...        NaN
2                     2           0.66          4.5  ...        NaN
3                     2           2.68         13.5  ...        NaN
4                     1           4.53         18.0  ...        NaN
5                     1           1.05          6.5  ...        NaN
6                     1           3.77         13.5  ...        NaN
7                     1           4.10         16.0  ...        NaN
8                     1           7.75         25.5  ...        NaN
9                     1           3.68         15.5  ...        NaN
10                    1           6.84         22.0  ...        NaN
11                    2           1.15          6.5  ...        NaN
12                    1           0.49         15.5  ...        NaN
13                    1           3.61         17.0  ...        NaN
14                    1           1.20          7.5  ...        NaN
15                    1           0.50          4.0  ...        NaN
16                    1           5.50         19.5  ...        NaN
17                    1           5.01         20.0  ...        NaN
18                    1           0.43          4.0  ...        NaN
19                    1           2.72         10.5  ...        NaN
20                    1           2.15         10.5  ...        NaN
21                    5           2.18          9.5  ...        NaN
22                    5           6.66         25.5  ...        NaN
23                    1           0.57          4.5  ...        NaN
24                    1          13.90         44.0  ...        NaN
25                    1           0.80          5.0  ...        NaN
26                    1           1.40          7.0  ...        NaN
27                    1           1.21          7.0  ...        NaN
28                    1           2.74         14.0  ...        NaN
29                    1           1.99          8.5  ...        NaN
...                 ...            ...          ...  ...        ...
630888                1           2.94         13.0  ...        NaN
630889                1           1.87          8.5  ...        NaN
630890                1           2.06          9.0  ...        NaN
630891                1           0.72          4.5  ...        NaN
630892                1           1.62          7.5  ...        NaN
630893                1           4.22         13.5  ...        NaN
630894                1           3.27         12.5  ...        NaN
630895                5           1.25          6.5  ...        NaN
630896                5           1.27          7.0  ...        NaN
630897                1           3.45         14.0  ...        NaN
630898                1           0.91          5.0  ...        NaN
630899                1           2.81         13.0  ...        NaN
630900                1           0.46          4.0  ...        NaN
630901                1           1.49          8.0  ...        NaN
630902                2           1.39          7.0  ...        NaN
630903                1           1.45          7.0  ...        NaN
630904                2           3.70         15.0  ...        NaN
630905                1           0.37          3.5  ...        NaN
630906                1           1.56          8.5  ...        NaN
630907                1           1.30          6.5  ...        NaN
630908                5           2.17          9.5  ...        NaN
630909                5           0.84          5.0  ...        NaN
630910                1           1.40          7.5  ...        NaN
630911                1           1.55          7.0  ...        NaN
630912                1           3.52         13.0  ...        NaN
630913                1           3.33         13.0  ...        NaN
630914                1           0.72          4.0  ...        NaN
630915                1           1.75          7.0  ...        NaN
630916                1           0.57          5.0  ...        NaN
630917                1           2.11          8.5  ...        NaN

        improvement_surcharge  total_amount  payment_type  trip_type  \
0                         0.3          4.30             2          1
1                         0.3          7.30             2          1
2                         0.3          5.80             1          1
3                         0.3         19.71             1          1
4                         0.3         19.30             2          1
5                         0.3          7.80             1          1
6                         0.3         14.80             1          1
7                         0.3         17.30             1          1
8                         0.3         26.80             1          1
9                         0.3         16.80             1          1
10                        0.3         37.06             1          1
11                        0.3          9.36             1          1
12                        0.3         16.80             1          1
13                        0.3         18.30             1          1
14                        0.3         14.00             1          1
15                        0.3          5.30             2          1
16                        0.3         24.95             1          1
17                        0.3         25.56             1          1
18                        0.3          6.36             1          1
19                        0.3         14.16             1          1
20                        0.3         14.75             1          1
21                        0.3         14.04             1          1
22                        0.3         26.80             2          1
23                        0.3          5.80             2          1
24                        0.3         45.30             1          1
25                        0.3          6.30             2          1
26                        0.3          8.30             2          1
27                        0.3          8.30             2          1
28                        0.3         17.30             1          1
29                        0.3         12.25             1          1
...                       ...           ...           ...        ...
630888                    0.3         14.30             2          1
630889                    0.3         11.80             1          1
630890                    0.3         10.30             2          1
630891                    0.3          5.80             2          1
630892                    0.3         10.56             1          1
630893                    0.3         14.80             2          1
630894                    0.3         13.80             2          1
630895                    0.3          9.36             1          1
630896                    0.3          8.30             2          1
630897                    0.3         15.30             2          1
630898                    0.3          6.30             2          1
630899                    0.3         14.30             2          1
630900                    0.3          5.30             2          1
630901                    0.3          9.30             2          1
630902                    0.3         10.38             1          1
630903                    0.3          9.30             1          1
630904                    0.3         19.55             1          1
630905                    0.3          5.76             1          1
630906                    0.3         10.80             1          1
630907                    0.3         10.14             1          1
630908                    0.3         10.80             2          1
630909                    0.3          7.56             1          1
630910                    0.3          8.80             2          1
630911                    0.3          9.96             1          1
630912                    0.3         14.30             2          1
630913                    0.3         18.39             1          1
630914                    0.3          6.36             1          1
630915                    0.3          8.30             1          1
630916                    0.3          7.30             1          1
630917                    0.3         11.76             1          1

        congestion_surcharge  PULocationX    PULocationY  DOLocationX  \
0                        NaN          nan            NaN          nan
1                        NaN    991023.10  190887.289491    993974.88
2                        NaN    993974.88  190123.280316    993051.23
3                        NaN    993051.23  185993.846228    998342.74
4                        NaN   1019626.12  208344.701571   1024007.11
5                        NaN    993974.88  190123.280316    998342.74
6                        NaN    996132.62  201170.111116    985545.31
7                        NaN   1017983.41  179276.980156   1003262.22
8                        NaN    988005.47  189064.601119    994603.47
9                        NaN    997512.06  175092.434708   1012066.26
10                       NaN   1010097.76  222807.414929    991777.64
11                       NaN   1015442.39  215841.865002   1015442.39
12                       NaN   1001529.54  173883.042504   1001529.54
13                       NaN    997512.06  175092.434708   1008907.12
14                       NaN    995586.73  198307.282684   1000237.51
15                       NaN   1000237.51  199582.303010   1000237.51
16                       NaN    995586.73  198307.282684    993898.33
17                       NaN    996132.62  201170.111116    982389.52
18                       NaN   1002636.94  214178.874402   1005999.21
19                       NaN   1002636.94  214178.874402   1015442.39
20                       NaN   1015442.39  215841.865002   1011434.31
21                       NaN    995586.73  198307.282684    998531.49
22                       NaN    988025.70  194936.823442    984266.58
23                       NaN   1005999.21  216570.160207   1005999.21
24                       NaN   1001328.23  232772.309614    998323.41
25                       NaN   1005999.21  216570.160207   1010929.72
26                       NaN   1005999.21  216570.160207   1010097.76
27                       NaN    991023.10  190887.289491    990062.89
28                       NaN    990062.89  184111.792889    998342.74
29                       NaN    998342.74  191392.639499    995586.73
...                      ...          ...            ...          ...
630888                   0.0   1010929.72  211369.883417   1024871.75
630889                   0.0    997520.59  232274.162568    991777.64
630890                   0.0   1001328.23  232772.309614    998816.05
630891                   0.0    999491.71  227336.882497    999491.71
630892                   0.0    999491.71  227336.882497   1001328.23
630893                   0.0   1019626.12  208344.701571   1003837.48
630894                   0.0   1010929.72  211369.883417   1011423.41
630895                   0.0   1000237.51  199582.303010   1007385.52
630896                   0.0   1000237.51  199582.303010    995586.73
630897                   0.0   1031218.51  217714.372403   1042979.89
630898                   0.0   1031218.51  217714.372403   1000792.13
630899                   0.0   1003837.48  207164.423377   1015442.39
630900                   0.0   1010929.72  211369.883417   1019626.12
630901                   0.0   1019626.12  208344.701571   1015442.39
630902                   0.0    993974.88  190123.280316   1000537.75
630903                   0.0   1000990.47  238412.229126    997520.59
630904                   0.0    988025.70  194936.823442    988875.13
630905                   0.0    997520.59  232274.162568   1000990.47
630906                   0.0    993051.23  185993.846228    998342.74
630907                   0.0   1000237.51  199582.303010    998531.49

In [121]:
df.isnull().sum()

VendorID                      0
lpep_pickup_datetime          0
lpep_dropoff_datetime         0
store_and_fwd_flag            0
RatecodeID                    0
PULocationID                  0
DOLocationID                  0
passenger_count               0
trip_distance                 0
fare_amount                   0
extra                         0
mta_tax                       0
tip_amount                    0
tolls_amount                  0
ehail_fee                637062
improvement_surcharge         0
total_amount                  0
payment_type                  0
trip_type                     0
congestion_surcharge     551779
PULocationX                   0
PULocationY                1341
DOLocationX                   0
DOLocationY                2125
dtype: int64

In [124]:
nan_rows = df[df['ehail_fee'].isnull()]
#print(nan_rows)

In [125]:
df.dropna(subset=['PULocationY', 'DOLocationY'])

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,PULocationX,PULocationY,DOLocationX,DOLocationY
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,...,NaN,0.3,7.30,2,1,NaN,991023.10,190887.289491,993974.88,190123.280316
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,...,NaN,0.3,5.80,1,1,NaN,993974.88,190123.280316,993051.23,185993.846228
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,...,NaN,0.3,19.71,1,1,NaN,993051.23,185993.846228,998342.74,191392.639499
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,...,NaN,0.3,19.30,2,1,NaN,1019626.12,208344.701571,1024007.11,190740.616459
5,2,2019-01-01 00:12:35,2019-01-01 00:19:09,N,1,49,17,1,1.05,6.5,...,NaN,0.3,7.80,1,1,NaN,993974.88,190123.280316,998342.74,191392.639499
6,2,2019-01-01 00:47:55,2019-01-01 01:00:01,N,1,255,33,1,3.77,13.5,...,NaN,0.3,14.80,1,1,NaN,996132.62,201170.111116,985545.31,192934.884487
7,1,2019-01-01 00:12:47,2019-01-01 00:30:50,N,1,76,225,1,4.10,16.0,...,NaN,0.3,17.30,1,1,NaN,1017983.41,179276.980156,1003262.22,190226.847965
8,2,2019-01-01 00:16:23,2019-01-01 00:39:46,N,1,25,89,1,7.75,25.5,...,NaN,0.3,26.80,1,1,NaN,988005.47,189064.601119,994603.47,172805.876040
9,2,2019-01-01 00:58:02,2019-01-01 01:19:02,N,1,85,39,1,3.68,15.5,...,NaN,0.3,16.80,1,1,NaN,997512.06,175092.434708,1012066.26,172053.111782
10,2,2019-01-01 00:37:00,2019-01-01 00:56:42,N,1,223,238,1,6.84,22.0,...,NaN,0.3,37.06,1,1,NaN,1010097.76,222807.414929,991777.64,227739.890845
11,2,2019-01-01 00:13:48,2019-01-01 00:21:00,N,1,129,129,2,1.15,6.5,...,NaN,0.3,9.36,1,1,NaN,1015442.39,215841.865002,1015442.39,215841.865002
12,2,2019-01-01 00:19:59,2019-01-01 00:45:50,N,1,71,71,1,0.49,15.5,...,NaN,0.3,16.80,1,1,NaN,1001529.54,173883.042504,1001529.54,173883.042504
13,2,2019-01-01 00:57:57,2019-01-01 01:20:10,N,1,85,177,1,3.61,17.0,...,NaN,0.3,18.30,1,1,NaN,997512.06,175092.434708,1008907.12,185974.205694
14,1,2019-01-01 00:09:02,2019-01-01 00:17:50,N,1,256,80,1,1.20,7.5,...,NaN,0.3,14.00,1,1,NaN,995586.73,198307.282684,1000237.51,199582.303010
15,1,2019-01-01 00:22:12,2019-01-01 00:25:29,N,1,80,80,1,0.50,4.0,...,NaN,0.3,5.30,2,1,NaN,1000237.51,199582.303010,1000237.51,199582.303010
16,1,2019-01-01 00:31:55,2019-01-01 00:52:59,N,1,256,229,1,5.50,19.5,...,NaN,0.3,24.95,1,1,NaN,995586.73,198307.282684,993898.33,214924.499415
17,2,2019-01-01 00:30:20,2019-01-01 00:54:19,N,1,255,231,1,5.01,20.0,...,NaN,0.3,25.56,1,1,NaN,996132.62,201170.111116,982389.52,201116.796517
18,2,2018-12-31 23:58:06,2019-01-01 00:00:57,N,1,146,7,1,0.43,4.0,...,NaN,0.3,6.36,1,1,NaN,1002636.94,214178.874402,1005999.21,216570.160207
19,2,2019-01-01 00:40:17,2019-01-01 00:50:23,N,1,146,129,1,2.72,10.5,...,NaN,0.3,14.16,1,1,NaN,1002636.94,214178.874402,1015442.39,215841.865002
20,2,2019-01-01 00:51:16,2019-01-01 01:04:10,N,1,129,157,1,2.15,10.5,...,NaN,0.3,14.75,1,1,NaN,1015442.39,215841.865002,1011434.31,203078.823074
21,2,2019-01-01 00:30:28,2019-01-01 00:41:18,N,1,256,112,5,2.18,9.5,...,NaN,0.3,14.04,1,1,NaN,995586.73,198307.282684,998531.49,204813.312104
22,2,2019-01-01 00:26:59,2019-01-01 01:01:33,N,1,66,68,5,6.66,25.5,...,NaN,0.3,26.80,2,1,NaN,988025.70,194936.823442,984266.58,211937.944079
23,2,2019-01-01 00:39:09,2019-01-01 00:42:32,N,1,7,7,1,0.57,4.5,...,NaN,0.3,5.80,2,1,NaN,1005999.21,216570.160207,1005999.21,216570.160207
24,2,2019-01-01 00:35:13,2019-01-01 01:18:53,N,1,74,62,1,13.90,44.0,...,NaN,0.3,45.30,1,1,NaN,1001328.23,232772.309614,998323.41,182319.186993
25,1,2019-01-01 00:35:52,2019-01-01 00:40:00,N,1,7,260,1,0.80,5.0,...,NaN,0.3,6.30,2,1,NaN,1005999.21,216570.160207,1010929.72,211369.883417
26,1,2019-01-01 00:48:27,2019-01-01 00:55:49,N,1,7,223,1,1.40,7.0,...,NaN,0.3,8.30,2,1,NaN,1005999.21,216570.160207,1010097.76,222807.414929
27,2,2019-01-01 00:01:21,2019-01-01 00:08:45,N,1,97,181,1,1.21,7.0,...,NaN,0.3,8.30,2,1,NaN,991023.10,190887.289491,990062.89,184111.792889
28,2,2019-01-01 00:24:39,2019-01-01 00:43:17,N,1,181,17,1,2.74,14.0,...,NaN,0.3,17.30,1,1,NaN,990062.89,184111.792889,998342.74,191392.639499
29,2,2019-01-01 00:44:25,2019-01-01 00:53:03,N,1,17,256,1,1.99,8.5,...,NaN,0.3,12.25,1,1,NaN,998342.74,191392.639499,995586.73,198307.282684
30,2,2019-01-01 00:44:58,2019-01-01 01:13:46,N,1,41,254,1,9.97,32.0,...,NaN,0.3,33.30,1,1,NaN,997520.59,232274.162568,1023441.08,261091.649943
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
630888,2,2019-01-31 23:58:41,2019-02-01 00:14:46,N,1,260,56,1,2.94,13.0,...,NaN,0.3,14.30,2,1,0.0,1010929.72,211369.883417,1024871.75,213399.689725
630889,2,2019-01-31 23:18:32,2019-01-31 23:26:20,N,1,41,238,1,1.87,8.5,...,NaN,0.3,11.80,1,1,0.0,997520.59,232274.162568,991777.64,227739.890845
630890,2,2019-01-31 23:44:16,2019-01-31 23:53:56,N,1,74,116,1,2.06,9.0,...,NaN,0.3,10.30,2,1,0.0,1001328.23,232772.309614,998816.05,240775.021260
630891,2,2019-01-31 23:13:38,2019-01-31 23:18:15,N,1,75,75,1,0.72,4.5,...,NaN,0.3,5.80,2,1,0.0,999491.71,227336.882497,999491.71,227336.882497
630892,2,2019-01-31 23:27:05,2019-01-31 23:34:09,N,1,75,74,1,1.62,7.5,...,NaN,0.3,10.56,1,1,0.0,999491.71,227336.882497,1001328.23,232772.309614
630893,2,2019-01-31 23:22:16,2019-01-31 23:30:19,N,1,82,226,1,4.22,13.5,...,NaN,0.3,14.80,2,1,0.0,1019626.12,208344.701571,1003837.48,207164.423377
630894,2,2019-01-31 23:29:03,2019-01-31 23:44:04,N,1,260,198,1,3.27,12.5,...,NaN,0.3,13.80,2,1,0.0,1010929.72,211369.883417,1011423.41,195967.869765
630895,2,2019-01-31 23:23:29,2019-01-31 23:30:08,N,1,80,36,5,1.25,6.5,...,NaN,0.3,9.36,1,1,0.0,1000237.51,199582.303010,1007385.52,193982.900071
630896,2,2019-01-31 23:42:41,2019-01-31 23:49:52,N,1,80,256,5,1.27,7.0,...,NaN,0.3,8.30,2,1,0.0,1000237.51,199582.303010,995586.73,198307.282684
630897,2,2019-01-31 23:03:41,2019-01-31 23:18:32,N,1,92,9,1,3.45,14.0,...,NaN,0.3,15.30,2,1,0.0,1031218.51,217714.372403,1042979.89,214199.991330
630898,2,2019-01-31 23:41:27,2019-02-01 00:08:09,N,1,92,193,1,0.91,5.0,...,NaN,0.3,6.30,2,1,0.0,1031218.51,217714.372403,1000792.13,216799.116340
630899,2,2019-01-31 23:11:20,2019-01-31 23:27:26,N,1,226,129,1,2.81,13.0,...,NaN,0.3,14.30,2,1,0.0,1003837.48,207164.423377,1015442.39,215841.865002
630900,2,2019-01-31 23:37:17,2019-01-31 23:40:13,N,1,260,82,1,0.46,4.0,...,NaN,0.3,5.30,2,1,0.0,1010929.72,211369.883417,1019626.12,208344.701571
630901,2,2019-01-31 23:41:04,2019-01-31 23:50:16,N,1,82,129,1,1.49,8.0,...,NaN,0.3,9.30,2,1,0.0,1019626.12,208344.701571,1015442.39,215841.865002
630902,2,2019-02-01 00:00:57,2019-02-01 00:07:24,N,1,49,61,2,1.39,7.0,...,NaN,0.3,10.38,1,1,0.0,993974.88,190123.280316,1000537.75,184780.984539
630903,2,2019-01-31 23:24:54,2019-01-31 23:30:43,N,1,42,41,1,1.45,7.0,...,NaN,0.3,9.30,1,1,0.0,1000990.47,238412.229126,997520.59,232274.162568
630904,1,2019-01-31 23:11:08,2019-01-31 23:29:02,N,1,66,107,2,3.70,15.0,...,NaN,0.3,19.55,1,1,0.0,988025.70,194936.823442,988875.13,207912.937312
630905,2,2019-01-31 23:09:10,2019-01-31 23:11:45,N,1,41,42,1,0.37,3.5,...,NaN,0.3,5.76,1,1,0.0,997520.59,232274.162568,1000990.47,238412.229126
630906,2,2019-01-31 23:24:28,2019-01-31 23:33:51,N,1,189,17,1,1.56,8.5,...,NaN,0.3,10.80,1,1,0.0,993051.23,185993.846228,998342.74,191392.639499
630907,2,2019-01-31 23:26:48,2019-01-31 23:33:23,N,1,80,112,1,1.30,6.5,...,NaN,0.3,10.14,1,1,0.0,1000237.51,199582.303010,998531.49,204813.312104
630908,2,2019-01-31 23:04:16,2019-01-31 23:12:33,N,1,95,28,5,2.17,9.5,...,NaN,0.3,10.80,2,1,0.0,1026320.87,202890.896795,1037665.21,198318.076512
630909,2,2019-01-31 23:21:46,2019-01-31 23:25:47,N,1,134,134,5,0.84,5.0,...,NaN,0.3,7.56,1,1,0.0,1031383.55,197539.029500,1031383.55,197539.029500
630910,2,2019-01-31 23:11:37,2019-01-31 23:20:08,N,1,37,255,1,1.40,7.5,...,NaN,0.3,8.80,2,1,0.0,1004784.25,192954.140676,996132.62,201170.111116
630911,2,2019-01-31 23:54:11,2019-02-01 00:00:38,N,1,226,226,1,1.55,7.0,...,NaN,0.3,9.96,1,1,0.0,1003837.48,207164.423377,1003837.48,207164.423377
630912,2,2019-01-31 23:45:17,2019-02-01 00:00:40,N,1,247,166,1,3.52,13.0,...,NaN,0.3,14.30,2,1,0.0,1004989.38,241390.223166,994820.49,234227.640382
630913,2,2019-01-31 23:08:27,2019-01-31 23:22:59,N,1,255,226,1,3.33,13.0,...,NaN,0.3,18.39,1,1,0.0,996132.62,201170.111116,1003837.48,207164.423377
630914,2,2019-01-31 23:21:26,2019-01-31 23:23:05,N,1,75,151,1,0.72,4.0,...,NaN,0.3,6.36,1,1,0.0,999491.71,227336.882497,993163.01,229962.809716
630915,2,2019-01-31 23:30:05,2019-01-31 23:36:14,N,1,75,238,1,1.75,7.0,...,NaN,0.3,8.30,1,1,0.0,999491.71,227336.882497,991777.64,227739.890845
630916,2,2019-01-31 23:59:58,2019-02-01 00:04:18,N,1,74,74,1,0.57,5.0,...,NaN,0.3,7.30,1,1,0.0,1001328.23,232772.309614,1001328.23,232772.309614
630917,2,2019-01-31 23:18:22,2019-01-31 23:26:06,N,1,75,262,1,2.11,8.5,...,NaN,0.3,11.76,1,1,0.0,999491.71,227336.882497,999253.11,222193.818758