In [1]:
import pandas as pd
import numpy as np
import urllib.request
import zipfile
import random
import itertools
import math
import shapefile
from shapely.geometry import Polygon
from descartes.patch import PolygonPatch
import matplotlib as mpl
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

In [2]:
#GREEN_TAXI_DATA_2018_AUGUST

df_g = pd.read_csv("/Users/ranjani/taxidata/green_tripdata_2018-08.csv")
df_g.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type
0,2,2018-08-01 00:03:22,2018-08-01 00:17:59,N,1,255,49,1,3.54,13.5,0.5,0.5,2.96,0.0,NaN,0.3,17.76,1,1
1,2,2018-08-01 00:37:08,2018-08-01 00:46:53,N,1,256,112,1,1.94,8.5,0.5,0.5,1.96,0.0,NaN,0.3,11.76,1,1
2,2,2018-08-01 00:12:45,2018-08-01 00:20:21,N,1,146,7,2,1.37,7.0,0.5,0.5,0.00,0.0,NaN,0.3,8.30,2,1
3,2,2018-08-01 00:21:29,2018-08-01 00:27:41,N,1,7,260,2,1.10,6.5,0.5,0.5,0.00,0.0,NaN,0.3,7.80,2,1
4,2,2018-08-01 00:03:24,2018-08-01 00:06:44,N,1,256,256,1,0.56,4.5,0.5,0.5,1.74,0.0,NaN,0.3,7.54,1,1

In [3]:
df_g.count()

VendorID                 666376
lpep_pickup_datetime     666376
lpep_dropoff_datetime    666376
store_and_fwd_flag       666376
RatecodeID               666376
PULocationID             666376
DOLocationID             666376
passenger_count          666376
trip_distance            666376
fare_amount              666376
extra                    666376
mta_tax                  666376
tip_amount               666376
tolls_amount             666376
ehail_fee                     0
improvement_surcharge    666376
total_amount             666376
payment_type             666376
trip_type                666376
dtype: int64

In [4]:
df_g['passenger_count'].isnull().sum()

0

In [3]:
def get_lat_lon(sf):
    content = []
    for sr in sf.shapeRecords():
        shape = sr.shape
        rec = sr.record
        loc_id = rec[shp_dic['LocationID']]
        
        x = (shape.bbox[0]+shape.bbox[2])/2
        y = (shape.bbox[1]+shape.bbox[3])/2
        
        content.append((loc_id, x, y))
    return pd.DataFrame(content, columns=["LocationID", "longitude", "latitude"])

In [4]:
sf = shapefile.Reader("shape/taxi_zones.shp")
fields_name = [field[0] for field in sf.fields[1:]]
shp_dic = dict(zip(fields_name, list(range(len(fields_name)))))
attributes = sf.records()
shp_attr = [dict(zip(fields_name, attr)) for attr in attributes]

df_loc = pd.DataFrame(shp_attr).join(get_lat_lon(sf).set_index("LocationID"), on="LocationID")
df_loc.head()

,LocationID,OBJECTID,Shape_Area,Shape_Leng,borough,zone,longitude,latitude
0,1,1,0.000782,0.116357,EWR,Newark Airport,9.366817e+05,190522.130278
1,2,2,0.004866,0.433470,Queens,Jamaica Bay,1.033536e+06,161853.982300
2,3,3,0.000314,0.084341,Bronx,Allerton/Pelham Gardens,1.027136e+06,254730.010849
3,4,4,0.000112,0.043567,Manhattan,Alphabet City,9.904240e+05,203100.040432
4,5,5,0.000498,0.092146,Staten Island,Arden Heights,9.321332e+05,139954.541936

In [5]:
df_g = df_g.join(df_loc.set_index('LocationID'),on=['PULocationID'])
df_g.drop(['OBJECTID', 'Shape_Leng', 'Shape_Area', 'zone', 'borough'], axis=1, inplace=True)
df_g.rename(columns={'longitude': 'pickup_longitude', 'latitude': 'pickup_latitude'}, inplace=True)
df_g.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,pickup_longitude,pickup_latitude
0,2,2018-08-01 00:03:22,2018-08-01 00:17:59,N,1,255,49,1,3.54,13.5,...,0.5,2.96,0.0,NaN,0.3,17.76,1,1,9.960899e+05,201154.900463
1,2,2018-08-01 00:37:08,2018-08-01 00:46:53,N,1,256,112,1,1.94,8.5,...,0.5,1.96,0.0,NaN,0.3,11.76,1,1,9.955246e+05,198307.925259
2,2,2018-08-01 00:12:45,2018-08-01 00:20:21,N,1,146,7,2,1.37,7.0,...,0.5,0.00,0.0,NaN,0.3,8.30,2,1,1.002507e+06,214131.084088
3,2,2018-08-01 00:21:29,2018-08-01 00:27:41,N,1,7,260,2,1.10,6.5,...,0.5,0.00,0.0,NaN,0.3,7.80,2,1,1.006325e+06,216569.411021
4,2,2018-08-01 00:03:24,2018-08-01 00:06:44,N,1,256,256,1,0.56,4.5,...,0.5,1.74,0.0,NaN,0.3,7.54,1,1,9.955246e+05,198307.925259

In [6]:
df_g['pickup_longitude'] = df_g['pickup_longitude'].apply(lambda x: '{:.2f}'.format(x))
df_g['pickup_latitude'] = df_g['pickup_latitude'].apply(lambda x: '{:.2f}'.format(x))
df_g.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,pickup_longitude,pickup_latitude
0,2,2018-08-01 00:03:22,2018-08-01 00:17:59,N,1,255,49,1,3.54,13.5,...,0.5,2.96,0.0,NaN,0.3,17.76,1,1,996089.88,201154.90
1,2,2018-08-01 00:37:08,2018-08-01 00:46:53,N,1,256,112,1,1.94,8.5,...,0.5,1.96,0.0,NaN,0.3,11.76,1,1,995524.65,198307.93
2,2,2018-08-01 00:12:45,2018-08-01 00:20:21,N,1,146,7,2,1.37,7.0,...,0.5,0.00,0.0,NaN,0.3,8.30,2,1,1002506.87,214131.08
3,2,2018-08-01 00:21:29,2018-08-01 00:27:41,N,1,7,260,2,1.10,6.5,...,0.5,0.00,0.0,NaN,0.3,7.80,2,1,1006324.94,216569.41
4,2,2018-08-01 00:03:24,2018-08-01 00:06:44,N,1,256,256,1,0.56,4.5,...,0.5,1.74,0.0,NaN,0.3,7.54,1,1,995524.65,198307.93

In [7]:
df_g = df_g.join(df_loc.set_index('LocationID'),on=['DOLocationID'])
df_g.drop(['OBJECTID', 'Shape_Leng', 'Shape_Area', 'zone', 'borough'], axis=1, inplace=True)
df_g.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,pickup_longitude,pickup_latitude,longitude,latitude
0,2,2018-08-01 00:03:22,2018-08-01 00:17:59,N,1,255,49,1,3.54,13.5,...,0.0,NaN,0.3,17.76,1,1,996089.88,201154.90,9.948706e+05,190214.741724
1,2,2018-08-01 00:37:08,2018-08-01 00:46:53,N,1,256,112,1,1.94,8.5,...,0.0,NaN,0.3,11.76,1,1,995524.65,198307.93,9.986127e+05,204798.780373
2,2,2018-08-01 00:12:45,2018-08-01 00:20:21,N,1,146,7,2,1.37,7.0,...,0.0,NaN,0.3,8.30,2,1,1002506.87,214131.08,1.006325e+06,216569.411021
3,2,2018-08-01 00:21:29,2018-08-01 00:27:41,N,1,7,260,2,1.10,6.5,...,0.0,NaN,0.3,7.80,2,1,1006324.94,216569.41,1.010063e+06,211298.529136
4,2,2018-08-01 00:03:24,2018-08-01 00:06:44,N,1,256,256,1,0.56,4.5,...,0.0,NaN,0.3,7.54,1,1,995524.65,198307.93,9.955246e+05,198307.925259

In [8]:
df_g.rename(columns={'longitude': 'dropoff_longitude', 'latitude': 'dropoff_latitude', 'lpep_pickup_datetime': 'pickup_datetime', 'lpep_dropoff_datetime':'dropoff_datetime'}, inplace=True)

In [9]:
df_g['dropoff_longitude'] = df_g['dropoff_longitude'].apply(lambda x: '{:.2f}'.format(x))
df_g['dropoff_latitude'] = df_g['dropoff_latitude'].apply(lambda x: '{:.2f}'.format(x))
df_g.head()

,VendorID,pickup_datetime,dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,2,2018-08-01 00:03:22,2018-08-01 00:17:59,N,1,255,49,1,3.54,13.5,...,0.0,NaN,0.3,17.76,1,1,996089.88,201154.90,994870.57,190214.74
1,2,2018-08-01 00:37:08,2018-08-01 00:46:53,N,1,256,112,1,1.94,8.5,...,0.0,NaN,0.3,11.76,1,1,995524.65,198307.93,998612.72,204798.78
2,2,2018-08-01 00:12:45,2018-08-01 00:20:21,N,1,146,7,2,1.37,7.0,...,0.0,NaN,0.3,8.30,2,1,1002506.87,214131.08,1006324.94,216569.41
3,2,2018-08-01 00:21:29,2018-08-01 00:27:41,N,1,7,260,2,1.10,6.5,...,0.0,NaN,0.3,7.80,2,1,1006324.94,216569.41,1010063.10,211298.53
4,2,2018-08-01 00:03:24,2018-08-01 00:06:44,N,1,256,256,1,0.56,4.5,...,0.0,NaN,0.3,7.54,1,1,995524.65,198307.93,995524.65,198307.93

In [10]:
df_g.isnull().sum()

VendorID                      0
pickup_datetime               0
dropoff_datetime              0
store_and_fwd_flag            0
RatecodeID                    0
PULocationID                  0
DOLocationID                  0
passenger_count               0
trip_distance                 0
fare_amount                   0
extra                         0
mta_tax                       0
tip_amount                    0
tolls_amount                  0
ehail_fee                688357
improvement_surcharge         0
total_amount                  0
payment_type                  0
trip_type                     0
pickup_longitude              0
pickup_latitude               0
dropoff_longitude             0
dropoff_latitude              0
dtype: int64

In [11]:
df_g.dropna(subset=['pickup_datetime','dropoff_datetime','pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude'])

,VendorID,pickup_datetime,dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,2,2018-08-01 00:03:22,2018-08-01 00:17:59,N,1,255,49,1,3.54,13.5,...,0.0,NaN,0.3,17.76,1,1,996089.88,201154.90,994870.57,190214.74
1,2,2018-08-01 00:37:08,2018-08-01 00:46:53,N,1,256,112,1,1.94,8.5,...,0.0,NaN,0.3,11.76,1,1,995524.65,198307.93,998612.72,204798.78
2,2,2018-08-01 00:12:45,2018-08-01 00:20:21,N,1,146,7,2,1.37,7.0,...,0.0,NaN,0.3,8.30,2,1,1002506.87,214131.08,1006324.94,216569.41
3,2,2018-08-01 00:21:29,2018-08-01 00:27:41,N,1,7,260,2,1.10,6.5,...,0.0,NaN,0.3,7.80,2,1,1006324.94,216569.41,1010063.10,211298.53
4,2,2018-08-01 00:03:24,2018-08-01 00:06:44,N,1,256,256,1,0.56,4.5,...,0.0,NaN,0.3,7.54,1,1,995524.65,198307.93,995524.65,198307.93
5,2,2018-08-01 00:13:17,2018-08-01 00:32:57,N,1,80,186,2,5.34,18.5,...,0.0,NaN,0.3,23.76,1,1,1001683.72,199576.19,986346.34,211974.16
6,1,2018-08-01 00:08:52,2018-08-01 00:13:40,N,1,75,238,1,1.60,6.5,...,0.0,NaN,0.3,7.80,2,1,999364.85,227274.37,991717.63,227746.10
7,1,2018-08-01 00:57:43,2018-08-01 01:04:59,N,1,74,168,1,1.80,7.5,...,0.0,NaN,0.3,8.80,2,1,1001578.96,232789.87,1007873.14,233337.10
8,1,2018-08-01 00:49:49,2018-08-01 00:54:29,N,1,179,7,2,1.00,5.5,...,0.0,NaN,0.3,6.80,2,1,1004253.56,220334.19,1006324.94,216569.41
9,2,2018-08-01 00:44:06,2018-08-01 00:55:46,N,1,74,78,1,5.76,17.5,...,0.0,NaN,0.3,18.80,2,1,1001578.96,232789.87,1016891.42,247542.72
10,1,2018-08-01 00:17:32,2018-08-01 00:46:47,N,1,7,95,1,5.40,23.5,...,0.0,NaN,0.3,28.80,1,1,1006324.94,216569.41,1026961.21,202611.52
11,2,2018-08-01 00:37:43,2018-08-01 00:40:18,N,1,66,33,1,0.60,4.0,...,0.0,NaN,0.3,5.30,2,1,987785.05,194926.52,985353.26,192941.71
12,2,2018-08-01 00:45:48,2018-08-01 01:01:52,N,1,66,164,1,6.38,20.5,...,0.0,NaN,0.3,21.80,2,1,987785.05,194926.52,988216.72,212188.34
13,1,2018-08-01 00:07:59,2018-08-01 00:26:57,N,1,80,90,2,4.60,17.5,...,0.0,NaN,0.3,18.80,2,1,1001683.72,199576.19,985089.24,209710.35
14,2,2018-08-01 00:56:01,2018-08-01 00:58:50,N,1,255,255,1,0.55,4.0,...,0.0,NaN,0.3,5.30,2,1,996089.88,201154.90,996089.88,201154.90
15,2,2018-08-01 00:08:09,2018-08-01 00:09:45,N,1,42,42,1,0.39,3.5,...,0.0,NaN,0.3,4.80,2,1,1000036.98,238383.30,1000036.98,238383.30
16,2,2018-08-01 00:12:08,2018-08-01 00:23:47,N,1,255,79,6,3.14,12.5,...,0.0,NaN,0.3,16.56,1,1,996089.88,201154.90,988320.12,204490.06
17,2,2018-08-01 00:13:48,2018-08-01 00:18:04,N,1,223,7,1,0.91,5.5,...,0.0,NaN,0.3,6.80,2,1,1010330.24,222885.45,1006324.94,216569.41
18,1,2018-08-01 00:23:08,2018-08-01 00:28:05,N,1,223,129,1,1.30,6.0,...,0.0,NaN,0.3,7.30,2,1,1010330.24,222885.45,1016211.12,215885.80
19,2,2018-08-01 00:15:38,2018-08-01 00:23:26,N,1,181,189,1,1.59,7.5,...,0.0,NaN,0.3,12.51,1,1,989015.82,184080.99,993090.83,186007.78
20,2,2018-08-01 00:22:22,2018-08-01 00:26:15,N,1,42,41,1,0.92,5.5,...,0.0,NaN,0.3,6.80,2,1,1000036.98,238383.30,997895.96,232264.01
21,2,2018-08-01 00:35:26,2018-08-01 00:43:43,N,1,41,244,1,2.25,9.0,...,0.0,NaN,0.3,10.30,2,1,997895.96,232264.01,1000637.16,245752.66
22,1,2018-08-01 00:15:39,2018-08-01 00:23:40,N,1,129,7,1,1.70,8.0,...,0.0,NaN,0.3,9.30,2,1,1016211.12,215885.80,1006324.94,216569.41
23,1,2018-08-01 00:25:35,2018-08-01 00:36:15,N,1,7,157,1,2.90,10.5,...,0.0,NaN,0.3,11.80,2,1,1006324.94,216569.41,1010417.19,203073.90
24,2,2018-08-01 00:26:51,2018-08-01 00:41:55,N,1,260,260,2,1.93,11.5,...,0.0,NaN,0.3,12.80,2,1,1010063.10,211298.53,1010063.10,211298.53
25,2,2018-08-01 00:24:57,2018-08-01 00:29:28,N,1,260,260,2,0.93,5.5,...,0.0,NaN,0.3,6.80,2,1,1010063.10,211298.53,1010063.10,211298.53
26,2,2018-08-01 00:50:28,2018-08-01 01:05:42,N,1,7,173,2,3.18,13.0,...,0.0,NaN,0.3,14.30,2,1,1006324.94,216569.41,1022097.07,213148.63
27,2,2018-08-01 00:18:11,2018-08-01 00:32:43,N,1,260,226,1,2.41,11.5,...,0.0,NaN,0.3,12.80,2,1,1010063.10,211298.53,1004610.91,207155.41
28,2,2018-08-01 00:38:24,2018-08-01 00:47:02,N,1,226,7,1,1.51,8.0,...,0.0,NaN,0.3,12.09,1,1,1004610.91,207155.41,1006324.94,216569.41
29,1,2018-08-01 00:03:04,2018-08-01 00:10:57,N,1,260,82,2,1.10,7.0,...,0.0,NaN,0.3,8.30,2,1,1010063.10,211298.53,1018027.44,208346.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666346,2,2018-08-31 23:40:50,2018-09-01 00:04:38,N,1,42,148,1,8.70,26.5,...,0.0,NaN,0.3,32.80,1,1,1000036.98,238383.30,986837.85,201264.70
666347,2,2018-08-31 23:09:17,2018-08-31 23:18:16,N,1,41,152,2,1.81,8.5,...,0.0,NaN,0.3,11.76,1,1,997895.96,232264.01,996966.84,237124.58
666348,2,2018-08-31 23:23:11,2018-08-31 23:39:09,N,1,152,48,3,5.54,19.0,...,0.0,NaN,0.3,20.30,2,1,996966.84,237124.58,987065.47,216984.69
666349,1,2018-08-31 23:00:27,2018-08-31 23:08:32,N,1,74,168,1,1.80,8.5,...,0.0,NaN,0.3,12.25,1,1,1001578.96,232789.87,1007873.14,233337.10
666350,1,2018-08-31 23:34:07,2018-08-31 23:39:04,N,1,74,75,2,1.40,6.0,...,0.0,NaN,0.3,7.30,2,1,1001578.96,232789.87,999364.85,227274.37
666351,2,2018-08-31 23:12:59,2018-08-31 23:18:06,N,1,166,24,1,0.83,5.5,...,0.0,NaN,0.3,8.16,1,1,994878.89,234246.40,993795.40,231438.44
666352,2,2018-08-31 23:31:28,2018-08-31 23:37:57,N,1,41,152,1,1.28,7.0,...,0.0,NaN,0.3,8.30,2,1,997895.96,232264.01,996966.84,237124.58
666353,2,2018-08-31 23:59:59,2018-09-01 00:05:11,N,1,41,42,1,0.88,5.5,...,0.0,NaN,0.3,6.80,2,1,997895.96,232264.01,1000036.98,238383.30
666354,2,2018-08-31 23:32:37,2018-08-31 23:50:37,N,1,181,14,1,3.88,15.5,...,0.0,NaN,0.3,16.80,1,1,989015.82,184080.99,976332.86,166469.26
666355,2,2018-08-31 23:01:43,2018-08-31 23:08:21,N,1,97,97,1,1.20,6.5,...,0.0,NaN,0.3,7.80,2,1,990851.61,190708.98,990851.61,190708.98
666356,2,2018-08-31 23:19:50,2018-08-31 23:43:55,N,1,97,234,1,7.03,24.5,...,0.0,NaN,0.3,30.96,1,1,990851.61,190708.98,986894.30,208964.96
666357,2,2018-08-31 23:56:50,2018-09-01 00:15:32,N,1,74,18,1,5.73,19.5,...,0.0,NaN,0.3,20.80,2,1,1001578.96,232789.87,1014322.51,255779.45
666358,2,2018-08-31 23:22:33,2018-08-31 23:27:51,N,1,82,129,1,1.02,6.0,...,0.0,NaN,0.3,7.30,2,1,1018027.44,208346.48,1016211.12,215885.80
666359,2,2018-08-31 23:34:54,2018-08-31 23:39:39,N,1,82,173,1,0.64,5.0,...,0.0,NaN,0.3,6.30,2,1,1018027.44,208346.48,1022097.07,213148.63
666360,2,2018-08-31 23:41:44,2018-08-31 23:54:48,N,1,74,75,1,2.07,10.5,...,0.0,NaN,0.3,11.80,2,1,1001578.96,232789.87,999364.85,227274.37
666361,2,2018-08-31 23:57:51,2018-09-01 00:09:02,N,1,74,42,1,2.23,9.5,...,0.0,NaN,0.3,10.80,2,1,1001578.96,232789.87,1000036.98,238383.30
666362,1,2018-08-31 23:04:47,2018-08-31 23:29:30,N,1,74,186,1,5.30,20.0,...,0.0,NaN,0.3,22.30,1,1,1001578.96,232789.87,986346.34,211974.16
666363,1,2018-08-31 23:04:35,2018-08-31 23:07:51,N,1,40,195,1,0.60,4.5,...,0.0,NaN,0.3,5.80,2,1,985565.16,186487.59,981674.46,185365.91
666364,1,2018-08-31 23:22:18,2018-08-31 23:25:33,N,1,33,52,1,0.50,4.5,...,0.0,NaN,0.3,5.80,2,1,985353.26,192941.71,985219.09,189371.99
666365,1,2018-08-31 23:34:24,2018-08-31 23:37:28,N,1,25,25,1,0.50,4.0,...,0.0,NaN,0.3,5.30,2,1,988001.91,189102.80,988001.91,189102.80
666366,1,2018-08-31 23:41:02,2018-09-01 00:05:52,N,1,25,79,1,5.80,22.0,...,0.0,NaN,0.3,28.30,1,1,988001.91,189102.80,988320.12,204490.06
666367,2,2018-08-31 23:02:17,2018-08-31 23:04:31,N,1,244,244,1,0.38,3.5,...,0.0,NaN,0.3,4.80,2,1,1000637.16,245752.66,1000637.16,245752.66
666368,2,2018-08-31 23:16:55,2018-08-31 23:29:00,N,1,116,244,1,2.23,10.5,...,0.0,NaN,0.3,11.80,2,1,998337.19,240814.02,1000637.16,245752.66
666369,2,2018-08-31 23:49:55,2018-09-01 00:08:37,N,1,25,190,1,1.89,13.0,...,0.0,NaN,0.3,17.16,1,1,988001.91,189102.80,992408.72,179967.96
666370,2,2018-08-31 23:44:25,2018-09-01 00:08:30,N,1,74,48,1,4.89,19.0,...,0.0,NaN,0.3,24.36,1,1,1001578.96,232789.87,987065.47,216984.69
666371,2,2018-08-31 23:24:01,2018-08-31 23:39:08,N,1,74,75,1,2.39,12.0,...,0.0,NaN,0.3,13.30,2,1,1001578.96,232789.87,999364.85,227274.37
666372,2,2018-08-31 23:41:02,2018-08-31 23:55:08,N,1,75,42,1,2.68,12.0,...,0.0,NaN,0.3,13.30,2,1,999364.85,227274.37,1000036.98,238383.30
666373,2,2018-08-31 23:57:44,2018-09-01 00:10:24,N,1,42,41,1,2.30,11.0,...,0.0,NaN,0.3,12.30,2,1,1000036.98,238383.30,997895.96,232264.01
666374,2,2018-08-31 23:28:00,2018-08-31 23:29:37,N,1,193,193,1,0.00,0.0,...,0.0,NaN,0.0,0.00,1,1,1000208.68,216823.90,1000208.68,216823.90
666375,2,2018-08-31 23:07:47,2018-08-31 23:07:50,N,1,193,193,1,0.00,0.0,...,0.0,NaN,0.0,0.00,1,1,1000208.68,216823.90,1000208.68,216823.90

In [5]:
#YELLOW_TAXI_DATA_2018_AUGUST

df_y = pd.read_csv("/Users/ranjani/taxidata/yellow_tripdata_2018-08.csv")
df_y.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2018-08-01 00:44:35,2018-08-01 01:03:22,1,5.6,1,N,238,79,1,19.0,0.5,0.5,4.00,0.0,0.3,24.30
1,1,2018-08-01 00:02:19,2018-08-01 00:02:31,1,0.0,1,N,145,145,2,2.5,0.5,0.5,0.00,0.0,0.3,3.80
2,1,2018-08-01 00:13:25,2018-08-01 00:24:40,1,2.9,1,N,138,7,1,11.5,0.5,0.5,2.55,0.0,0.3,15.35
3,1,2018-08-01 00:10:37,2018-08-01 00:49:10,1,8.4,1,N,231,7,1,30.0,0.5,0.5,7.80,0.0,0.3,39.10
4,1,2018-08-01 00:02:18,2018-08-01 00:07:32,2,0.7,1,N,79,148,1,5.5,0.5,0.5,0.00,0.0,0.3,6.80

In [6]:
df_y.count()

VendorID                 7849134
tpep_pickup_datetime     7849134
tpep_dropoff_datetime    7849134
passenger_count          7849134
trip_distance            7849134
RatecodeID               7849134
store_and_fwd_flag       7849134
PULocationID             7849134
DOLocationID             7849134
payment_type             7849134
fare_amount              7849134
extra                    7849134
mta_tax                  7849134
tip_amount               7849134
tolls_amount             7849134
improvement_surcharge    7849134
total_amount             7849134
dtype: int64

In [8]:
df_y.isnull().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
dtype: int64

In [14]:
df_y = df_y.join(df_loc.set_index('LocationID'),on=['PULocationID'])
df_y.drop(['OBJECTID', 'Shape_Leng', 'Shape_Area', 'zone', 'borough'], axis=1, inplace=True)
df_y.rename(columns={'longitude': 'pickup_longitude', 'latitude': 'pickup_latitude'}, inplace=True)
df_y.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,pickup_longitude,pickup_latitude
0,1,2018-08-01 00:44:35,2018-08-01 01:03:22,1,5.6,1,N,238,79,1,19.0,0.5,0.5,4.00,0.0,0.3,24.30,9.917176e+05,227746.100420
1,1,2018-08-01 00:02:19,2018-08-01 00:02:31,1,0.0,1,N,145,145,2,2.5,0.5,0.5,0.00,0.0,0.3,3.80,9.982076e+05,211280.687978
2,1,2018-08-01 00:13:25,2018-08-01 00:24:40,1,2.9,1,N,138,7,1,11.5,0.5,0.5,2.55,0.0,0.3,15.35,1.019304e+06,221604.395797
3,1,2018-08-01 00:10:37,2018-08-01 00:49:10,1,8.4,1,N,231,7,1,30.0,0.5,0.5,7.80,0.0,0.3,39.10,9.822364e+05,201073.414111
4,1,2018-08-01 00:02:18,2018-08-01 00:07:32,2,0.7,1,N,79,148,1,5.5,0.5,0.5,0.00,0.0,0.3,6.80,9.883201e+05,204490.058251

In [15]:
df_y['pickup_longitude'] = df_y['pickup_longitude'].apply(lambda x: '{:.2f}'.format(x))
df_y['pickup_latitude'] = df_y['pickup_latitude'].apply(lambda x: '{:.2f}'.format(x))
df_y.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,pickup_longitude,pickup_latitude
0,1,2018-08-01 00:44:35,2018-08-01 01:03:22,1,5.6,1,N,238,79,1,19.0,0.5,0.5,4.00,0.0,0.3,24.30,991717.63,227746.10
1,1,2018-08-01 00:02:19,2018-08-01 00:02:31,1,0.0,1,N,145,145,2,2.5,0.5,0.5,0.00,0.0,0.3,3.80,998207.57,211280.69
2,1,2018-08-01 00:13:25,2018-08-01 00:24:40,1,2.9,1,N,138,7,1,11.5,0.5,0.5,2.55,0.0,0.3,15.35,1019304.02,221604.40
3,1,2018-08-01 00:10:37,2018-08-01 00:49:10,1,8.4,1,N,231,7,1,30.0,0.5,0.5,7.80,0.0,0.3,39.10,982236.37,201073.41
4,1,2018-08-01 00:02:18,2018-08-01 00:07:32,2,0.7,1,N,79,148,1,5.5,0.5,0.5,0.00,0.0,0.3,6.80,988320.12,204490.06

In [16]:
df_y = df_y.join(df_loc.set_index('LocationID'),on=['DOLocationID'])
df_y.drop(['OBJECTID', 'Shape_Leng', 'Shape_Area', 'zone', 'borough'], axis=1, inplace=True)
df_y.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,pickup_longitude,pickup_latitude,longitude,latitude
0,1,2018-08-01 00:44:35,2018-08-01 01:03:22,1,5.6,1,N,238,79,1,...,0.5,0.5,4.00,0.0,0.3,24.30,991717.63,227746.10,9.883201e+05,204490.058251
1,1,2018-08-01 00:02:19,2018-08-01 00:02:31,1,0.0,1,N,145,145,2,...,0.5,0.5,0.00,0.0,0.3,3.80,998207.57,211280.69,9.982076e+05,211280.687978
2,1,2018-08-01 00:13:25,2018-08-01 00:24:40,1,2.9,1,N,138,7,1,...,0.5,0.5,2.55,0.0,0.3,15.35,1019304.02,221604.40,1.006325e+06,216569.411021
3,1,2018-08-01 00:10:37,2018-08-01 00:49:10,1,8.4,1,N,231,7,1,...,0.5,0.5,7.80,0.0,0.3,39.10,982236.37,201073.41,1.006325e+06,216569.411021
4,1,2018-08-01 00:02:18,2018-08-01 00:07:32,2,0.7,1,N,79,148,1,...,0.5,0.5,0.00,0.0,0.3,6.80,988320.12,204490.06,9.868379e+05,201264.700017

In [17]:
df_y.rename(columns={'longitude': 'dropoff_longitude', 'latitude': 'dropoff_latitude', 'tpep_pickup_datetime': 'pickup_datetime', 'tpep_dropoff_datetime':'dropoff_datetime'}, inplace=True)

In [18]:
df_y['dropoff_longitude'] = df_y['dropoff_longitude'].apply(lambda x: '{:.2f}'.format(x))
df_y['dropoff_latitude'] = df_y['dropoff_latitude'].apply(lambda x: '{:.2f}'.format(x))
df_y.head()

,VendorID,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,1,2018-08-01 00:44:35,2018-08-01 01:03:22,1,5.6,1,N,238,79,1,...,0.5,0.5,4.00,0.0,0.3,24.30,991717.63,227746.10,988320.12,204490.06
1,1,2018-08-01 00:02:19,2018-08-01 00:02:31,1,0.0,1,N,145,145,2,...,0.5,0.5,0.00,0.0,0.3,3.80,998207.57,211280.69,998207.57,211280.69
2,1,2018-08-01 00:13:25,2018-08-01 00:24:40,1,2.9,1,N,138,7,1,...,0.5,0.5,2.55,0.0,0.3,15.35,1019304.02,221604.40,1006324.94,216569.41
3,1,2018-08-01 00:10:37,2018-08-01 00:49:10,1,8.4,1,N,231,7,1,...,0.5,0.5,7.80,0.0,0.3,39.10,982236.37,201073.41,1006324.94,216569.41
4,1,2018-08-01 00:02:18,2018-08-01 00:07:32,2,0.7,1,N,79,148,1,...,0.5,0.5,0.00,0.0,0.3,6.80,988320.12,204490.06,986837.85,201264.70

In [19]:
df_y.isnull().sum()

VendorID                 0
pickup_datetime          0
dropoff_datetime         0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
pickup_longitude         0
pickup_latitude          0
dropoff_longitude        0
dropoff_latitude         0
dtype: int64

In [20]:
df_y.dropna(subset=['pickup_datetime','dropoff_datetime','pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude'])

,VendorID,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,1,2018-08-01 00:44:35,2018-08-01 01:03:22,1,5.60,1,N,238,79,1,...,0.5,0.5,4.00,0.00,0.3,24.30,991717.63,227746.10,988320.12,204490.06
1,1,2018-08-01 00:02:19,2018-08-01 00:02:31,1,0.00,1,N,145,145,2,...,0.5,0.5,0.00,0.00,0.3,3.80,998207.57,211280.69,998207.57,211280.69
2,1,2018-08-01 00:13:25,2018-08-01 00:24:40,1,2.90,1,N,138,7,1,...,0.5,0.5,2.55,0.00,0.3,15.35,1019304.02,221604.40,1006324.94,216569.41
3,1,2018-08-01 00:10:37,2018-08-01 00:49:10,1,8.40,1,N,231,7,1,...,0.5,0.5,7.80,0.00,0.3,39.10,982236.37,201073.41,1006324.94,216569.41
4,1,2018-08-01 00:02:18,2018-08-01 00:07:32,2,0.70,1,N,79,148,1,...,0.5,0.5,0.00,0.00,0.3,6.80,988320.12,204490.06,986837.85,201264.70
5,1,2018-08-01 00:22:51,2018-08-01 00:55:23,2,6.70,1,N,114,7,1,...,0.5,0.5,4.02,0.00,0.3,30.82,985030.85,204700.77,1006324.94,216569.41
6,1,2018-08-01 00:02:52,2018-08-01 00:15:50,1,4.50,1,N,132,205,2,...,0.5,0.5,0.00,0.00,0.3,15.80,1042627.91,173494.35,1049852.90,191369.27
7,1,2018-08-01 00:57:29,2018-08-01 01:26:37,1,16.80,2,N,132,162,1,...,0.0,0.5,14.60,5.76,0.3,73.16,1042627.91,173494.35,991876.75,215015.15
8,2,2018-08-01 00:36:51,2018-08-01 00:38:35,5,0.43,1,N,88,87,1,...,0.5,0.5,1.20,0.00,0.3,6.00,981197.09,195500.41,982242.97,196731.42
9,1,2018-08-01 00:29:32,2018-08-01 00:54:36,1,5.00,1,N,234,7,1,...,0.5,0.5,5.20,0.00,0.3,26.00,986894.30,208964.96,1006324.94,216569.41
10,2,2018-08-01 00:53:52,2018-08-01 01:05:59,4,3.59,1,N,239,234,2,...,0.5,0.5,0.00,0.00,0.3,14.30,990139.87,224918.92,986894.30,208964.96
11,2,2018-08-01 00:40:54,2018-08-01 00:44:08,1,0.88,1,N,107,170,1,...,0.5,0.5,1.26,0.00,0.3,7.56,988679.70,207908.95,990443.34,211693.75
12,1,2018-08-01 00:56:05,2018-08-01 01:02:12,1,0.90,1,N,161,230,1,...,0.5,0.5,1.45,0.00,0.3,8.75,990433.41,215448.36,988628.08,216098.91
13,1,2018-08-01 00:17:56,2018-08-01 00:26:25,1,1.40,1,N,151,239,2,...,0.5,0.5,0.00,0.00,0.3,9.30,993048.45,229960.16,990139.87,224918.92
14,1,2018-08-01 00:28:18,2018-08-01 00:35:48,1,2.10,1,N,239,141,1,...,0.5,0.5,1.95,0.00,0.3,11.75,990139.87,224918.92,995431.25,218700.46
15,1,2018-08-01 00:30:12,2018-08-01 00:38:54,1,2.20,1,N,79,162,2,...,0.5,0.5,0.00,0.00,0.3,10.30,988320.12,204490.06,991876.75,215015.15
16,1,2018-08-01 00:40:10,2018-08-01 00:48:28,2,2.30,1,N,162,236,1,...,0.5,0.5,2.00,0.00,0.3,12.30,991876.75,215015.15,996155.90,223614.97
17,1,2018-08-01 00:54:18,2018-08-01 01:08:58,1,7.30,1,N,236,87,1,...,0.5,0.5,4.65,0.00,0.3,27.95,996155.90,223614.97,982242.97,196731.42
18,2,2018-08-01 00:07:42,2018-08-01 00:26:05,1,12.51,1,N,138,76,1,...,0.5,0.5,0.00,0.00,0.3,35.30,1019304.02,221604.40,1016832.01,179326.00
19,2,2018-08-01 00:39:11,2018-08-01 01:10:28,3,17.37,2,N,132,237,1,...,0.0,0.5,12.00,0.00,0.3,64.80,1042627.91,173494.35,993768.78,219305.45
20,1,2018-08-01 00:11:25,2018-08-01 00:31:50,1,4.30,1,N,249,145,2,...,0.5,0.5,0.00,5.78,0.3,23.08,983705.30,206915.07,998207.57,211280.69
21,1,2018-08-01 00:17:11,2018-08-01 00:29:17,2,3.20,1,N,125,50,1,...,0.5,0.5,2.75,0.00,0.3,16.55,981845.11,203584.37,985382.81,218558.34
22,1,2018-08-01 00:54:09,2018-08-01 01:00:10,2,1.50,1,N,234,158,1,...,0.5,0.5,1.00,0.00,0.3,9.30,986894.30,208964.96,981541.04,207164.65
23,1,2018-08-01 00:52:48,2018-08-01 00:57:07,1,0.70,1,N,170,233,1,...,0.5,0.5,1.25,0.00,0.3,7.55,990443.34,211693.75,992568.05,212203.98
24,1,2018-08-01 00:06:12,2018-08-01 00:11:42,1,1.00,1,N,90,100,1,...,0.5,0.5,1.45,0.00,0.3,8.75,985089.24,209710.35,987355.56,213800.92
25,1,2018-08-01 00:38:47,2018-08-01 00:52:24,1,4.10,1,N,237,79,2,...,0.5,0.5,0.00,0.00,0.3,15.30,993768.78,219305.45,988320.12,204490.06
26,2,2018-08-01 00:15:56,2018-08-01 00:21:17,1,1.19,1,N,45,87,1,...,0.5,0.5,2.19,0.00,0.3,9.49,984573.24,199035.16,982242.97,196731.42
27,2,2018-08-01 00:43:04,2018-08-01 00:47:50,2,0.94,1,N,231,209,1,...,0.5,0.5,1.36,0.00,0.3,8.16,982236.37,201073.41,983105.42,197393.19
28,1,2018-08-01 00:01:41,2018-08-01 00:06:33,3,0.80,1,N,45,231,1,...,0.5,0.5,1.00,0.00,0.3,7.80,984573.24,199035.16,982236.37,201073.41
29,1,2018-08-01 00:12:46,2018-08-01 00:25:44,1,2.30,1,N,231,164,1,...,0.5,0.5,1.00,0.00,0.3,13.30,982236.37,201073.41,988216.72,212188.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7849104,2,2018-08-31 23:12:14,2018-08-31 23:22:35,3,2.32,1,N,170,141,1,...,0.5,0.5,2.26,0.00,0.3,13.56,990443.34,211693.75,995431.25,218700.46
7849105,2,2018-08-31 23:29:17,2018-08-31 23:32:08,4,1.03,1,N,237,236,2,...,0.5,0.5,0.00,0.00,0.3,6.30,993768.78,219305.45,996155.90,223614.97
7849106,2,2018-08-31 23:32:59,2018-08-31 23:42:20,3,1.85,1,N,236,140,1,...,0.5,0.5,2.16,0.00,0.3,12.96,996155.90,223614.97,996790.76,218101.17
7849107,2,2018-08-31 23:59:14,2018-09-01 00:12:12,3,3.23,1,N,162,262,1,...,0.5,0.5,1.00,0.00,0.3,14.80,991876.75,215015.15,999443.50,222247.38
7849108,1,2018-08-31 23:14:18,2018-08-31 23:24:19,4,1.20,1,N,230,246,1,...,0.5,0.5,1.85,0.00,0.3,11.15,988628.08,216098.91,983193.73,213400.59
7849109,1,2018-08-31 23:39:35,2018-08-31 23:52:12,1,1.80,1,N,142,100,1,...,0.5,0.5,2.70,0.00,0.3,13.50,989365.57,221142.06,987355.56,213800.92
7849110,2,2018-08-31 22:59:10,2018-08-31 23:17:59,1,3.99,1,N,162,87,1,...,0.5,0.5,2.20,0.00,0.3,19.00,991876.75,215015.15,982242.97,196731.42
7849111,2,2018-08-31 23:06:40,2018-08-31 23:19:30,1,1.76,1,N,186,48,1,...,0.5,0.5,2.82,0.00,0.3,14.12,986346.34,211974.16,987065.47,216984.69
7849112,2,2018-08-31 23:27:46,2018-08-31 23:36:18,1,1.81,1,N,239,166,2,...,0.5,0.5,0.00,0.00,0.3,10.30,990139.87,224918.92,994878.89,234246.40
7849113,2,2018-08-31 23:12:23,2018-08-31 23:45:08,1,13.32,1,N,138,148,1,...,0.5,0.5,3.00,0.00,0.3,44.80,1019304.02,221604.40,986837.85,201264.70
7849114,2,2018-08-31 23:50:22,2018-09-01 00:18:29,1,8.47,1,N,148,166,1,...,0.5,0.5,5.96,0.00,0.3,35.76,986837.85,201264.70,994878.89,234246.40
7849115,1,2018-08-31 23:00:09,2018-08-31 23:28:50,3,18.70,2,N,132,75,1,...,0.0,0.5,10.00,5.76,0.3,68.56,1042627.91,173494.35,999364.85,227274.37
7849116,2,2018-08-31 23:47:57,2018-09-01 00:12:10,1,9.52,1,N,138,79,1,...,0.5,0.5,5.00,0.00,0.3,34.30,1019304.02,221604.40,988320.12,204490.06
7849117,1,2018-08-31 23:28:35,2018-08-31 23:35:11,1,1.30,1,N,144,234,1,...,0.5,0.5,1.00,0.00,0.3,9.30,985013.99,201895.01,986894.30,208964.96
7849118,1,2018-08-31 23:39:50,2018-08-31 23:44:10,1,0.60,1,N,234,234,1,...,0.5,0.5,0.00,0.00,0.3,6.30,986894.30,208964.96,986894.30,208964.96
7849119,1,2018-08-31 23:49:00,2018-08-31 23:56:06,1,1.10,1,N,164,113,2,...,0.5,0.5,0.00,0.00,0.3,8.30,988216.72,212188.34,985644.70,206046.02
7849120,2,2018-08-31 23:12:10,2018-08-31 23:15:19,5,0.48,1,N,238,238,2,...,0.5,0.5,0.00,0.00,0.3,5.30,991717.63,227746.10,991717.63,227746.10
7849121,2,2018-08-31 23:17:33,2018-08-31 23:32:08,5,5.24,1,N,238,243,1,...,0.5,0.5,5.49,0.00,0.3,23.79,991717.63,227746.10,1002010.77,252109.36
7849122,2,2018-08-31 23:03:14,2018-08-31 23:11:31,2,1.51,1,N,79,137,1,...,0.5,0.5,1.86,0.00,0.3,11.16,988320.12,204490.06,990575.78,209001.82
7849123,2,2018-08-31 23:17:41,2018-08-31 23:23:30,2,1.19,1,N,170,186,1,...,0.5,0.5,1.56,0.00,0.3,9.36,990443.34,211693.75,986346.34,211974.16
7849124,2,2018-08-31 23:26:10,2018-08-31 23:31:53,2,0.89,1,N,186,230,1,...,0.5,0.5,1.46,0.00,0.3,8.76,986346.34,211974.16,988628.08,216098.91
7849125,2,2018-08-31 23:47:02,2018-08-31 23:56:01,2,2.59,1,N,163,151,1,...,0.5,0.5,1.00,0.00,0.3,12.80,990609.94,217764.31,993048.45,229960.16
7849126,2,2018-08-31 23:53:55,2018-09-01 00:05:15,1,4.48,1,N,45,170,1,...,0.5,0.5,2.00,0.00,0.3,18.30,984573.24,199035.16,990443.34,211693.75
7849127,2,2018-08-31 23:45:47,2018-08-31 23:56:46,1,3.35,1,N,75,137,2,...,0.5,0.5,0.00,0.00,0.3,13.30,999364.85,227274.37,990575.78,209001.82
7849128,1,2018-08-31 23:26:24,2018-08-31 23:37:52,2,1.80,1,N,144,209,1,...,0.5,0.5,2.00,0.00,0.3,12.80,985013.99,201895.01,983105.42,197393.19
7849129,1,2018-08-31 23:54:46,2018-09-01 00:04:36,4,1.30,1,N,148,79,2,...,0.5,0.5,0.00,0.00,0.3,8.80,986837.85,201264.70,988320.12,204490.06
7849130,2,2018-08-31 23:24:09,2018-08-31 23:32:33,1,1.37,1,N,113,231,2,...,0.5,0.5,0.00,0.00,0.3,8.80,985644.70,206046.02,982236.37,201073.41
7849131,2,2018-08-31 23:35:09,2018-08-31 23:47:18,1,1.27,1,N,231,148,1,...,0.5,0.5,5.08,0.00,0.3,15.38,982236.37,201073.41,986837.85,201264.70
7849132,2,2018-08-31 23:55:23,2018-09-01 00:06:14,1,2.08,1,N,114,87,1,...,0.5,0.5,1.08,0.00,0.3,11.88,985030.85,204700.77,982242.97,196731.42
7849133,2,2018-08-31 23:41:48,2018-08-31 23:47:58,2,1.23,1,N,246,186,2,...,0.5,0.5,0.00,0.00,0.3,7.30,983193.73,213400.59,986346.34,211974.16

In [21]:
df_g.to_csv("green_tripdata_2018_aug_output.csv", index=False)

In [22]:
df_y.to_csv("yellow_tripdata_2018_aug_output.csv", index=False)