In [2]:
import pandas as pd
import numpy as np
import urllib.request
import zipfile
import random
import itertools
import math
import shapefile
from shapely.geometry import Polygon
from descartes.patch import PolygonPatch
import matplotlib as mpl
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

In [3]:
#GREEN_TAXI_DATA_2018_JUNE

df_g = pd.read_csv("/Users/ranjani/taxidata/green_tripdata_2018-06.csv")
df_g.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type
0,2,2018-06-01 00:33:55,2018-06-01 00:36:13,N,1,66,33,5,0.51,4.0,0.5,0.5,0.70,0.0,NaN,0.3,6.00,1,1
1,2,2018-06-01 00:40:36,2018-06-01 00:49:46,N,1,25,49,5,1.97,9.0,0.5,0.5,2.06,0.0,NaN,0.3,12.36,1,1
2,2,2018-06-01 00:57:12,2018-06-01 01:02:58,N,1,61,49,5,1.40,6.5,0.5,0.5,0.00,0.0,NaN,0.3,7.80,2,1
3,2,2018-06-01 00:10:13,2018-06-01 00:16:27,N,1,49,97,1,1.36,7.0,0.5,0.5,0.00,0.0,NaN,0.3,8.30,2,1
4,1,2018-06-01 00:32:08,2018-06-01 00:52:06,N,1,75,127,1,7.90,24.0,0.5,0.5,6.30,0.0,NaN,0.3,31.60,1,1

In [4]:
df_g.count()

VendorID                 739373
lpep_pickup_datetime     739373
lpep_dropoff_datetime    739373
store_and_fwd_flag       739373
RatecodeID               739373
PULocationID             739373
DOLocationID             739373
passenger_count          739373
trip_distance            739373
fare_amount              739373
extra                    739373
mta_tax                  739373
tip_amount               739373
tolls_amount             739373
ehail_fee                     0
improvement_surcharge    739373
total_amount             739373
payment_type             739373
trip_type                739373
dtype: int64

In [7]:
df_g['passenger_count'].isnull().sum()

0

In [5]:
urllib.request.urlretrieve("https://s3.amazonaws.com/nyc-tlc/misc/taxi_zones.zip", "taxi_zones.zip")
with zipfile.ZipFile("taxi_zones.zip","r") as zip_ref:
    zip_ref.extractall("./shape")

In [6]:
def get_lat_lon(sf):
    content = []
    for sr in sf.shapeRecords():
        shape = sr.shape
        rec = sr.record
        loc_id = rec[shp_dic['LocationID']]
        
        x = (shape.bbox[0]+shape.bbox[2])/2
        y = (shape.bbox[1]+shape.bbox[3])/2
        
        content.append((loc_id, x, y))
    return pd.DataFrame(content, columns=["LocationID", "longitude", "latitude"])

In [7]:
sf = shapefile.Reader("shape/taxi_zones.shp")
fields_name = [field[0] for field in sf.fields[1:]]
shp_dic = dict(zip(fields_name, list(range(len(fields_name)))))
attributes = sf.records()
shp_attr = [dict(zip(fields_name, attr)) for attr in attributes]

df_loc = pd.DataFrame(shp_attr).join(get_lat_lon(sf).set_index("LocationID"), on="LocationID")
df_loc.head()

,LocationID,OBJECTID,Shape_Area,Shape_Leng,borough,zone,longitude,latitude
0,1,1,0.000782,0.116357,EWR,Newark Airport,9.366817e+05,190522.130278
1,2,2,0.004866,0.433470,Queens,Jamaica Bay,1.033536e+06,161853.982300
2,3,3,0.000314,0.084341,Bronx,Allerton/Pelham Gardens,1.027136e+06,254730.010849
3,4,4,0.000112,0.043567,Manhattan,Alphabet City,9.904240e+05,203100.040432
4,5,5,0.000498,0.092146,Staten Island,Arden Heights,9.321332e+05,139954.541936

In [10]:
df_g = df_g.join(df_loc.set_index('LocationID'),on=['PULocationID'])
df_g.drop(['OBJECTID', 'Shape_Leng', 'Shape_Area', 'zone', 'borough'], axis=1, inplace=True)
df_g.rename(columns={'longitude': 'pickup_longitude', 'latitude': 'pickup_latitude'}, inplace=True)

In [11]:
df_g.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,pickup_longitude,pickup_latitude
0,2,2018-06-01 00:33:55,2018-06-01 00:36:13,N,1,66,33,5,0.51,4.0,...,0.5,0.70,0.0,NaN,0.3,6.00,1,1,9.877850e+05,194926.521869
1,2,2018-06-01 00:40:36,2018-06-01 00:49:46,N,1,25,49,5,1.97,9.0,...,0.5,2.06,0.0,NaN,0.3,12.36,1,1,9.880019e+05,189102.798643
2,2,2018-06-01 00:57:12,2018-06-01 01:02:58,N,1,61,49,5,1.40,6.5,...,0.5,0.00,0.0,NaN,0.3,7.80,2,1,1.000223e+06,184828.371224
3,2,2018-06-01 00:10:13,2018-06-01 00:16:27,N,1,49,97,1,1.36,7.0,...,0.5,0.00,0.0,NaN,0.3,8.30,2,1,9.948706e+05,190214.741724
4,1,2018-06-01 00:32:08,2018-06-01 00:52:06,N,1,75,127,1,7.90,24.0,...,0.5,6.30,0.0,NaN,0.3,31.60,1,1,9.993649e+05,227274.374428

In [12]:
df_g['pickup_longitude'] = df_g['pickup_longitude'].apply(lambda x: '{:.2f}'.format(x))

In [13]:
df_g['pickup_latitude'] = df_g['pickup_latitude'].apply(lambda x: '{:.2f}'.format(x))

In [14]:
df_g.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,pickup_longitude,pickup_latitude
0,2,2018-06-01 00:33:55,2018-06-01 00:36:13,N,1,66,33,5,0.51,4.0,...,0.5,0.70,0.0,NaN,0.3,6.00,1,1,987785.05,194926.52
1,2,2018-06-01 00:40:36,2018-06-01 00:49:46,N,1,25,49,5,1.97,9.0,...,0.5,2.06,0.0,NaN,0.3,12.36,1,1,988001.91,189102.80
2,2,2018-06-01 00:57:12,2018-06-01 01:02:58,N,1,61,49,5,1.40,6.5,...,0.5,0.00,0.0,NaN,0.3,7.80,2,1,1000222.66,184828.37
3,2,2018-06-01 00:10:13,2018-06-01 00:16:27,N,1,49,97,1,1.36,7.0,...,0.5,0.00,0.0,NaN,0.3,8.30,2,1,994870.57,190214.74
4,1,2018-06-01 00:32:08,2018-06-01 00:52:06,N,1,75,127,1,7.90,24.0,...,0.5,6.30,0.0,NaN,0.3,31.60,1,1,999364.85,227274.37

In [15]:
df_g = df_g.join(df_loc.set_index('LocationID'),on=['DOLocationID'])
df_g.drop(['OBJECTID', 'Shape_Leng', 'Shape_Area', 'zone', 'borough'], axis=1, inplace=True)
df_g.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,pickup_longitude,pickup_latitude,longitude,latitude
0,2,2018-06-01 00:33:55,2018-06-01 00:36:13,N,1,66,33,5,0.51,4.0,...,0.0,NaN,0.3,6.00,1,1,987785.05,194926.52,9.853533e+05,192941.713096
1,2,2018-06-01 00:40:36,2018-06-01 00:49:46,N,1,25,49,5,1.97,9.0,...,0.0,NaN,0.3,12.36,1,1,988001.91,189102.80,9.948706e+05,190214.741724
2,2,2018-06-01 00:57:12,2018-06-01 01:02:58,N,1,61,49,5,1.40,6.5,...,0.0,NaN,0.3,7.80,2,1,1000222.66,184828.37,9.948706e+05,190214.741724
3,2,2018-06-01 00:10:13,2018-06-01 00:16:27,N,1,49,97,1,1.36,7.0,...,0.0,NaN,0.3,8.30,2,1,994870.57,190214.74,9.908516e+05,190708.984524
4,1,2018-06-01 00:32:08,2018-06-01 00:52:06,N,1,75,127,1,7.90,24.0,...,0.0,NaN,0.3,31.60,1,1,999364.85,227274.37,1.006493e+06,254234.219554

In [16]:
df_g.rename(columns={'longitude': 'dropoff_longitude', 'latitude': 'dropoff_latitude', 'lpep_pickup_datetime': 'pickup_datetime', 'lpep_dropoff_datetime':'dropoff_datetime'}, inplace=True)
df_g.head()

,VendorID,pickup_datetime,dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,2,2018-06-01 00:33:55,2018-06-01 00:36:13,N,1,66,33,5,0.51,4.0,...,0.0,NaN,0.3,6.00,1,1,987785.05,194926.52,9.853533e+05,192941.713096
1,2,2018-06-01 00:40:36,2018-06-01 00:49:46,N,1,25,49,5,1.97,9.0,...,0.0,NaN,0.3,12.36,1,1,988001.91,189102.80,9.948706e+05,190214.741724
2,2,2018-06-01 00:57:12,2018-06-01 01:02:58,N,1,61,49,5,1.40,6.5,...,0.0,NaN,0.3,7.80,2,1,1000222.66,184828.37,9.948706e+05,190214.741724
3,2,2018-06-01 00:10:13,2018-06-01 00:16:27,N,1,49,97,1,1.36,7.0,...,0.0,NaN,0.3,8.30,2,1,994870.57,190214.74,9.908516e+05,190708.984524
4,1,2018-06-01 00:32:08,2018-06-01 00:52:06,N,1,75,127,1,7.90,24.0,...,0.0,NaN,0.3,31.60,1,1,999364.85,227274.37,1.006493e+06,254234.219554

In [17]:
df_g['dropoff_longitude'] = df_g['dropoff_longitude'].apply(lambda x: '{:.2f}'.format(x))
df_g['dropoff_latitude'] = df_g['dropoff_latitude'].apply(lambda x: '{:.2f}'.format(x))

In [18]:
df_g.head()

,VendorID,pickup_datetime,dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,2,2018-06-01 00:33:55,2018-06-01 00:36:13,N,1,66,33,5,0.51,4.0,...,0.0,NaN,0.3,6.00,1,1,987785.05,194926.52,985353.26,192941.71
1,2,2018-06-01 00:40:36,2018-06-01 00:49:46,N,1,25,49,5,1.97,9.0,...,0.0,NaN,0.3,12.36,1,1,988001.91,189102.80,994870.57,190214.74
2,2,2018-06-01 00:57:12,2018-06-01 01:02:58,N,1,61,49,5,1.40,6.5,...,0.0,NaN,0.3,7.80,2,1,1000222.66,184828.37,994870.57,190214.74
3,2,2018-06-01 00:10:13,2018-06-01 00:16:27,N,1,49,97,1,1.36,7.0,...,0.0,NaN,0.3,8.30,2,1,994870.57,190214.74,990851.61,190708.98
4,1,2018-06-01 00:32:08,2018-06-01 00:52:06,N,1,75,127,1,7.90,24.0,...,0.0,NaN,0.3,31.60,1,1,999364.85,227274.37,1006493.44,254234.22

In [19]:
df_g.isnull().sum()

VendorID                      0
pickup_datetime               0
dropoff_datetime              0
store_and_fwd_flag            0
RatecodeID                    0
PULocationID                  0
DOLocationID                  0
passenger_count               0
trip_distance                 0
fare_amount                   0
extra                         0
mta_tax                       0
tip_amount                    0
tolls_amount                  0
ehail_fee                763022
improvement_surcharge         0
total_amount                  0
payment_type                  0
trip_type                     0
pickup_longitude              0
pickup_latitude               0
dropoff_longitude             0
dropoff_latitude              0
dtype: int64

In [20]:
df_g.count()

VendorID                 763022
pickup_datetime          763022
dropoff_datetime         763022
store_and_fwd_flag       763022
RatecodeID               763022
PULocationID             763022
DOLocationID             763022
passenger_count          763022
trip_distance            763022
fare_amount              763022
extra                    763022
mta_tax                  763022
tip_amount               763022
tolls_amount             763022
ehail_fee                     0
improvement_surcharge    763022
total_amount             763022
payment_type             763022
trip_type                763022
pickup_longitude         763022
pickup_latitude          763022
dropoff_longitude        763022
dropoff_latitude         763022
dtype: int64

In [21]:
df_g.dropna(subset=['pickup_datetime','dropoff_datetime','pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude'])

,VendorID,pickup_datetime,dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,2,2018-06-01 00:33:55,2018-06-01 00:36:13,N,1,66,33,5,0.51,4.0,...,0.0,NaN,0.3,6.00,1,1,987785.05,194926.52,985353.26,192941.71
1,2,2018-06-01 00:40:36,2018-06-01 00:49:46,N,1,25,49,5,1.97,9.0,...,0.0,NaN,0.3,12.36,1,1,988001.91,189102.80,994870.57,190214.74
2,2,2018-06-01 00:57:12,2018-06-01 01:02:58,N,1,61,49,5,1.40,6.5,...,0.0,NaN,0.3,7.80,2,1,1000222.66,184828.37,994870.57,190214.74
3,2,2018-06-01 00:10:13,2018-06-01 00:16:27,N,1,49,97,1,1.36,7.0,...,0.0,NaN,0.3,8.30,2,1,994870.57,190214.74,990851.61,190708.98
4,1,2018-06-01 00:32:08,2018-06-01 00:52:06,N,1,75,127,1,7.90,24.0,...,0.0,NaN,0.3,31.60,1,1,999364.85,227274.37,1006493.44,254234.22
5,1,2018-06-01 00:15:35,2018-06-01 00:27:44,N,1,36,112,2,2.90,11.0,...,0.0,NaN,0.3,14.30,1,1,1007105.37,193942.63,998612.72,204798.78
6,1,2018-06-01 00:49:03,2018-06-01 00:57:26,N,1,256,49,1,2.60,9.5,...,0.0,NaN,0.3,12.95,1,1,995524.65,198307.93,994870.57,190214.74
7,2,2018-06-01 00:49:31,2018-06-01 01:38:02,N,1,25,28,2,14.64,45.0,...,0.0,NaN,0.3,46.30,1,1,988001.91,189102.80,1037383.34,198281.30
8,1,2018-06-01 00:16:57,2018-06-01 00:22:05,N,1,179,179,1,0.90,5.5,...,0.0,NaN,0.3,8.80,1,1,1004253.56,220334.19,1004253.56,220334.19
9,1,2018-06-01 00:42:02,2018-06-01 00:46:15,N,1,179,179,2,0.90,5.5,...,0.0,NaN,0.3,8.80,1,1,1004253.56,220334.19,1004253.56,220334.19
10,1,2018-06-01 00:11:58,2018-06-01 00:22:47,N,1,7,129,1,2.00,9.5,...,0.0,NaN,0.3,12.80,1,1,1006324.94,216569.41,1016211.12,215885.80
11,2,2018-06-01 00:12:54,2018-06-01 00:23:29,N,1,212,81,1,5.93,18.0,...,0.0,NaN,0.3,19.30,2,1,1020117.66,241071.31,1033107.86,258985.47
12,1,2018-06-01 00:22:02,2018-06-01 00:28:08,N,1,256,17,2,1.10,6.0,...,0.0,NaN,0.3,8.75,1,1,995524.65,198307.93,997925.49,191314.48
13,1,2018-06-01 00:37:58,2018-06-01 00:52:17,N,1,80,225,1,2.30,11.5,...,0.0,NaN,0.3,12.80,2,1,1001683.72,199576.19,1003628.84,190201.55
14,2,2018-06-01 00:02:32,2018-06-01 00:11:05,N,1,41,168,1,1.57,8.0,...,0.0,NaN,0.3,11.16,1,1,997895.96,232264.01,1007873.14,233337.10
15,2,2018-06-01 00:59:23,2018-06-01 01:11:18,N,1,106,257,5,2.58,11.0,...,0.0,NaN,0.3,12.30,2,1,986971.64,184562.61,989900.71,177356.57
16,2,2018-06-01 00:11:24,2018-06-01 00:25:46,N,1,33,257,1,3.27,12.5,...,0.0,NaN,0.3,13.80,2,1,985353.26,192941.71,989900.71,177356.57
17,2,2018-06-01 00:09:20,2018-06-01 00:19:42,N,1,226,229,1,2.99,12.0,...,0.0,NaN,0.3,13.30,2,1,1004610.91,207155.41,993947.23,214918.74
18,2,2018-06-01 00:48:39,2018-06-01 00:53:05,N,1,7,179,1,1.26,6.0,...,0.0,NaN,0.3,7.30,2,1,1006324.94,216569.41,1004253.56,220334.19
19,2,2018-06-01 00:57:37,2018-06-01 01:03:32,N,1,7,223,1,1.54,6.5,...,0.0,NaN,0.3,7.80,2,1,1006324.94,216569.41,1010330.24,222885.45
20,2,2018-05-31 23:59:48,2018-06-01 00:21:53,N,1,112,225,6,3.90,17.0,...,0.0,NaN,0.3,21.96,1,1,998612.72,204798.78,1003628.84,190201.55
21,2,2018-06-01 00:35:58,2018-06-01 01:11:37,N,1,61,21,5,7.94,29.5,...,0.0,NaN,0.3,30.80,1,1,1000222.66,184828.37,988177.34,158599.74
22,2,2018-06-01 00:12:45,2018-06-01 00:23:41,N,1,255,49,1,2.76,11.0,...,0.0,NaN,0.3,14.30,1,1,996089.88,201154.90,994870.57,190214.74
23,2,2018-06-01 00:47:10,2018-06-01 00:52:05,N,1,255,256,1,1.01,5.5,...,0.0,NaN,0.3,8.16,1,1,996089.88,201154.90,995524.65,198307.93
24,2,2018-06-01 00:20:31,2018-06-01 00:23:43,N,1,255,256,1,0.78,4.5,...,0.0,NaN,0.3,6.96,1,1,996089.88,201154.90,995524.65,198307.93
25,2,2018-06-01 00:51:43,2018-06-01 00:56:51,N,1,65,25,1,0.76,5.5,...,0.0,NaN,0.3,6.80,2,1,988326.25,192611.66,988001.91,189102.80
26,1,2018-06-01 00:24:16,2018-06-01 00:36:06,N,1,130,121,1,2.60,10.5,...,0.0,NaN,0.3,11.80,2,1,1041804.58,195570.96,1038919.76,204343.73
27,2,2018-06-01 00:15:51,2018-06-01 00:24:00,N,1,106,14,1,3.91,13.0,...,0.0,NaN,0.3,14.30,2,1,986971.64,184562.61,976332.86,166469.26
28,2,2018-06-01 00:26:02,2018-06-01 00:37:29,N,1,14,26,1,2.28,10.5,...,0.0,NaN,0.3,15.34,1,1,976332.86,166469.26,986990.64,168293.06
29,2,2018-06-01 00:38:55,2018-06-01 00:47:08,N,1,24,75,1,1.50,8.0,...,0.0,NaN,0.3,9.30,2,1,993795.40,231438.44,999364.85,227274.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739346,2,2018-06-30 23:25:37,2018-06-30 23:30:56,N,1,166,151,1,1.18,6.0,...,0.0,NaN,0.3,7.30,2,1,994878.89,234246.40,993048.45,229960.16
739347,2,2018-06-30 23:43:39,2018-06-30 23:49:29,N,1,41,42,1,1.43,6.5,...,0.0,NaN,0.3,7.80,2,1,997895.96,232264.01,1000036.98,238383.30
739348,2,2018-06-30 23:55:26,2018-07-01 00:01:30,N,1,42,42,1,1.16,6.5,...,0.0,NaN,0.3,7.80,2,1,1000036.98,238383.30,1000036.98,238383.30
739349,2,2018-06-30 23:24:01,2018-06-30 23:39:09,N,1,17,188,1,2.50,12.0,...,0.0,NaN,0.3,13.30,2,1,997925.49,191314.48,999573.07,178767.67
739350,2,2018-06-30 23:48:27,2018-06-30 23:54:29,N,1,188,188,1,0.14,-5.5,...,0.0,NaN,-0.3,-6.80,3,1,999573.07,178767.67,999573.07,178767.67
739351,2,2018-06-30 23:48:27,2018-06-30 23:54:29,N,1,188,188,1,0.14,5.5,...,0.0,NaN,0.3,6.80,2,1,999573.07,178767.67,999573.07,178767.67
739352,2,2018-07-01 00:00:54,2018-07-01 00:40:41,N,1,89,56,1,11.45,38.0,...,0.0,NaN,0.3,39.30,1,1,995169.64,172740.85,1023679.86,209480.82
739352,2,2018-07-01 00:00:54,2018-07-01 00:40:41,N,1,89,56,1,11.45,38.0,...,0.0,NaN,0.3,39.30,1,1,995169.64,172740.85,1024882.34,213277.27
739352,2,2018-07-01 00:00:54,2018-07-01 00:40:41,N,1,89,56,1,11.45,38.0,...,0.0,NaN,0.3,39.30,1,1,995169.64,172740.85,1023679.86,209480.82
739352,2,2018-07-01 00:00:54,2018-07-01 00:40:41,N,1,89,56,1,11.45,38.0,...,0.0,NaN,0.3,39.30,1,1,995169.64,172740.85,1024882.34,213277.27
739353,2,2018-06-30 23:15:04,2018-06-30 23:28:32,N,1,97,195,1,2.74,11.5,...,0.0,NaN,0.3,12.80,1,1,990851.61,190708.98,981674.46,185365.91
739354,2,2018-06-30 23:35:01,2018-06-30 23:42:36,N,1,195,40,1,1.89,8.0,...,0.0,NaN,0.3,11.16,1,1,981674.46,185365.91,985565.16,186487.59
739355,2,2018-06-30 23:54:34,2018-07-01 00:23:38,N,1,52,145,1,7.37,26.5,...,0.0,NaN,0.3,27.80,2,1,985219.09,189371.99,998207.57,211280.69
739356,2,2018-06-30 23:18:54,2018-06-30 23:24:59,N,1,112,255,1,1.17,6.0,...,0.0,NaN,0.3,9.12,1,1,998612.72,204798.78,996089.88,201154.90
739357,2,2018-07-01 00:02:00,2018-07-01 00:22:35,N,1,75,152,1,3.28,15.0,...,0.0,NaN,0.3,16.30,2,1,999364.85,227274.37,996966.84,237124.58
739358,2,2018-06-30 23:09:01,2018-06-30 23:15:37,N,1,244,116,1,1.41,7.5,...,0.0,NaN,0.3,11.44,1,1,1000637.16,245752.66,998337.19,240814.02
739359,2,2018-06-30 23:27:39,2018-06-30 23:32:03,N,1,244,244,1,0.88,5.5,...,0.0,NaN,0.3,6.80,2,1,1000637.16,245752.66,1000637.16,245752.66
739360,1,2018-06-30 23:17:22,2018-06-30 23:35:44,N,1,41,69,1,3.90,15.0,...,0.0,NaN,0.3,16.30,2,1,997895.96,232264.01,1007449.55,241900.54
739361,1,2018-06-30 23:03:59,2018-06-30 23:15:19,N,1,97,17,1,2.10,10.0,...,0.0,NaN,0.3,13.55,1,1,990851.61,190708.98,997925.49,191314.48
739362,1,2018-06-30 23:24:49,2018-06-30 23:28:10,N,1,49,49,1,0.70,4.5,...,0.0,NaN,0.3,5.80,2,1,994870.57,190214.74,994870.57,190214.74
739363,1,2018-06-30 23:37:18,2018-06-30 23:46:26,N,1,97,225,1,2.30,9.0,...,0.0,NaN,0.3,10.30,2,1,990851.61,190708.98,1003628.84,190201.55
739364,2,2018-06-30 23:12:43,2018-06-30 23:18:44,N,1,25,189,1,1.04,6.5,...,0.0,NaN,0.3,9.36,1,1,988001.91,189102.80,993090.83,186007.78
739365,2,2018-06-30 23:23:39,2018-06-30 23:34:11,N,1,97,62,1,1.90,9.0,...,0.0,NaN,0.3,11.80,1,1,990851.61,190708.98,999331.49,182388.02
739366,2,2018-06-30 23:43:46,2018-07-01 00:10:29,N,1,181,263,1,10.46,30.5,...,0.0,NaN,0.3,31.80,2,1,989015.82,184080.99,997818.27,223006.19
739367,2,2018-06-30 23:34:53,2018-07-01 00:20:58,N,1,244,243,1,8.89,34.5,...,0.0,NaN,0.3,35.80,2,1,1000637.16,245752.66,1002010.77,252109.36
739368,2,2018-06-30 23:49:16,2018-07-01 00:16:45,N,1,49,164,1,5.84,22.0,...,0.0,NaN,0.3,23.30,2,1,994870.57,190214.74,988216.72,212188.34
739369,2,2018-06-30 23:47:33,2018-06-30 23:52:56,N,1,75,75,1,0.98,6.0,...,0.0,NaN,0.3,7.30,1,1,999364.85,227274.37,999364.85,227274.37
739370,2,2018-06-30 23:28:45,2018-06-30 23:30:46,N,1,25,33,1,0.46,4.0,...,0.0,NaN,0.3,5.30,1,1,988001.91,189102.80,985353.26,192941.71
739371,2,2018-06-30 23:32:05,2018-06-30 23:50:13,N,1,33,65,1,2.69,13.5,...,0.0,NaN,0.3,17.76,1,1,985353.26,192941.71,988326.25,192611.66
739372,2,2018-06-30 23:59:25,2018-07-01 00:27:20,N,1,65,198,1,6.92,25.0,...,0.0,NaN,0.3,32.88,1,1,988326.25,192611.66,1011745.08,196001.89

In [8]:
#YELLOW_TAXI_DATA_2018_JUNE

df_y = pd.read_csv("/Users/ranjani/taxidata/yellow_tripdata_2018-06.csv")
df_y.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2018-06-01 00:15:40,2018-06-01 00:16:46,1,0.0,1,N,145,145,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30
1,1,2018-06-01 00:04:18,2018-06-01 00:09:18,1,1.0,1,N,230,161,1,5.5,0.5,0.5,1.35,0.0,0.3,8.15
2,1,2018-06-01 00:14:39,2018-06-01 00:29:46,1,3.3,1,N,100,263,2,13.0,0.5,0.5,0.00,0.0,0.3,14.30
3,1,2018-06-01 00:51:25,2018-06-01 00:51:29,3,0.0,1,N,145,145,2,2.5,0.5,0.5,0.00,0.0,0.3,3.80
4,1,2018-06-01 00:55:06,2018-06-01 00:55:10,1,0.0,1,N,145,145,2,2.5,0.5,0.5,0.00,0.0,0.3,3.80

In [9]:
df_y = df_y.join(df_loc.set_index('LocationID'),on=['PULocationID'])
df_y.drop(['OBJECTID', 'Shape_Leng', 'Shape_Area', 'zone', 'borough'], axis=1, inplace=True)
df_y.rename(columns={'longitude': 'pickup_longitude', 'latitude': 'pickup_latitude'}, inplace=True)

NameError: name 'df_loc' is not defined

In [10]:
df_y.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2018-06-01 00:15:40,2018-06-01 00:16:46,1,0.0,1,N,145,145,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30
1,1,2018-06-01 00:04:18,2018-06-01 00:09:18,1,1.0,1,N,230,161,1,5.5,0.5,0.5,1.35,0.0,0.3,8.15
2,1,2018-06-01 00:14:39,2018-06-01 00:29:46,1,3.3,1,N,100,263,2,13.0,0.5,0.5,0.00,0.0,0.3,14.30
3,1,2018-06-01 00:51:25,2018-06-01 00:51:29,3,0.0,1,N,145,145,2,2.5,0.5,0.5,0.00,0.0,0.3,3.80
4,1,2018-06-01 00:55:06,2018-06-01 00:55:10,1,0.0,1,N,145,145,2,2.5,0.5,0.5,0.00,0.0,0.3,3.80

In [11]:
df_y['passenger_count'].isnull().sum()

0

In [25]:
df_y['pickup_longitude'] = df_y['pickup_longitude'].apply(lambda x: '{:.2f}'.format(x))
df_y['pickup_latitude'] = df_y['pickup_latitude'].apply(lambda x: '{:.2f}'.format(x))

In [26]:
df_y.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,pickup_longitude,pickup_latitude
0,1,2018-06-01 00:15:40,2018-06-01 00:16:46,1,0.0,1,N,145,145,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,998207.57,211280.69
1,1,2018-06-01 00:04:18,2018-06-01 00:09:18,1,1.0,1,N,230,161,1,5.5,0.5,0.5,1.35,0.0,0.3,8.15,988628.08,216098.91
2,1,2018-06-01 00:14:39,2018-06-01 00:29:46,1,3.3,1,N,100,263,2,13.0,0.5,0.5,0.00,0.0,0.3,14.30,987355.56,213800.92
3,1,2018-06-01 00:51:25,2018-06-01 00:51:29,3,0.0,1,N,145,145,2,2.5,0.5,0.5,0.00,0.0,0.3,3.80,998207.57,211280.69
4,1,2018-06-01 00:55:06,2018-06-01 00:55:10,1,0.0,1,N,145,145,2,2.5,0.5,0.5,0.00,0.0,0.3,3.80,998207.57,211280.69

In [27]:
df_y = df_y.join(df_loc.set_index('LocationID'),on=['DOLocationID'])
df_y.drop(['OBJECTID', 'Shape_Leng', 'Shape_Area', 'zone', 'borough'], axis=1, inplace=True)
df_y.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,pickup_longitude,pickup_latitude,longitude,latitude
0,1,2018-06-01 00:15:40,2018-06-01 00:16:46,1,0.0,1,N,145,145,2,...,0.5,0.5,0.00,0.0,0.3,4.30,998207.57,211280.69,998207.572970,211280.687978
1,1,2018-06-01 00:04:18,2018-06-01 00:09:18,1,1.0,1,N,230,161,1,...,0.5,0.5,1.35,0.0,0.3,8.15,988628.08,216098.91,990433.407940,215448.355221
2,1,2018-06-01 00:14:39,2018-06-01 00:29:46,1,3.3,1,N,100,263,2,...,0.5,0.5,0.00,0.0,0.3,14.30,987355.56,213800.92,997818.271491,223006.185937
3,1,2018-06-01 00:51:25,2018-06-01 00:51:29,3,0.0,1,N,145,145,2,...,0.5,0.5,0.00,0.0,0.3,3.80,998207.57,211280.69,998207.572970,211280.687978
4,1,2018-06-01 00:55:06,2018-06-01 00:55:10,1,0.0,1,N,145,145,2,...,0.5,0.5,0.00,0.0,0.3,3.80,998207.57,211280.69,998207.572970,211280.687978

In [28]:
df_y.rename(columns={'longitude': 'dropoff_longitude', 'latitude': 'dropoff_latitude', 'tpep_pickup_datetime': 'pickup_datetime', 'tpep_dropoff_datetime':'dropoff_datetime'}, inplace=True)

In [29]:
df_y.head()

,VendorID,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,1,2018-06-01 00:15:40,2018-06-01 00:16:46,1,0.0,1,N,145,145,2,...,0.5,0.5,0.00,0.0,0.3,4.30,998207.57,211280.69,998207.572970,211280.687978
1,1,2018-06-01 00:04:18,2018-06-01 00:09:18,1,1.0,1,N,230,161,1,...,0.5,0.5,1.35,0.0,0.3,8.15,988628.08,216098.91,990433.407940,215448.355221
2,1,2018-06-01 00:14:39,2018-06-01 00:29:46,1,3.3,1,N,100,263,2,...,0.5,0.5,0.00,0.0,0.3,14.30,987355.56,213800.92,997818.271491,223006.185937
3,1,2018-06-01 00:51:25,2018-06-01 00:51:29,3,0.0,1,N,145,145,2,...,0.5,0.5,0.00,0.0,0.3,3.80,998207.57,211280.69,998207.572970,211280.687978
4,1,2018-06-01 00:55:06,2018-06-01 00:55:10,1,0.0,1,N,145,145,2,...,0.5,0.5,0.00,0.0,0.3,3.80,998207.57,211280.69,998207.572970,211280.687978

In [30]:
df_y['dropoff_longitude'] = df_y['dropoff_longitude'].apply(lambda x: '{:.2f}'.format(x))
df_y['dropoff_latitude'] = df_y['dropoff_latitude'].apply(lambda x: '{:.2f}'.format(x))

In [31]:
df_y.head()

,VendorID,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,1,2018-06-01 00:15:40,2018-06-01 00:16:46,1,0.0,1,N,145,145,2,...,0.5,0.5,0.00,0.0,0.3,4.30,998207.57,211280.69,998207.57,211280.69
1,1,2018-06-01 00:04:18,2018-06-01 00:09:18,1,1.0,1,N,230,161,1,...,0.5,0.5,1.35,0.0,0.3,8.15,988628.08,216098.91,990433.41,215448.36
2,1,2018-06-01 00:14:39,2018-06-01 00:29:46,1,3.3,1,N,100,263,2,...,0.5,0.5,0.00,0.0,0.3,14.30,987355.56,213800.92,997818.27,223006.19
3,1,2018-06-01 00:51:25,2018-06-01 00:51:29,3,0.0,1,N,145,145,2,...,0.5,0.5,0.00,0.0,0.3,3.80,998207.57,211280.69,998207.57,211280.69
4,1,2018-06-01 00:55:06,2018-06-01 00:55:10,1,0.0,1,N,145,145,2,...,0.5,0.5,0.00,0.0,0.3,3.80,998207.57,211280.69,998207.57,211280.69

In [32]:
df_y.isnull().sum()

VendorID                 0
pickup_datetime          0
dropoff_datetime         0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
pickup_longitude         0
pickup_latitude          0
dropoff_longitude        0
dropoff_latitude         0
dtype: int64

In [33]:
df_y.count()

VendorID                 8722693
pickup_datetime          8722693
dropoff_datetime         8722693
passenger_count          8722693
trip_distance            8722693
RatecodeID               8722693
store_and_fwd_flag       8722693
PULocationID             8722693
DOLocationID             8722693
payment_type             8722693
fare_amount              8722693
extra                    8722693
mta_tax                  8722693
tip_amount               8722693
tolls_amount             8722693
improvement_surcharge    8722693
total_amount             8722693
pickup_longitude         8722693
pickup_latitude          8722693
dropoff_longitude        8722693
dropoff_latitude         8722693
dtype: int64

In [34]:
df_y.dropna(subset=['pickup_datetime','dropoff_datetime','pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude'])

,VendorID,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,1,2018-06-01 00:15:40,2018-06-01 00:16:46,1,0.00,1,N,145,145,2,...,0.5,0.5,0.00,0.0,0.3,4.30,998207.57,211280.69,998207.57,211280.69
1,1,2018-06-01 00:04:18,2018-06-01 00:09:18,1,1.00,1,N,230,161,1,...,0.5,0.5,1.35,0.0,0.3,8.15,988628.08,216098.91,990433.41,215448.36
2,1,2018-06-01 00:14:39,2018-06-01 00:29:46,1,3.30,1,N,100,263,2,...,0.5,0.5,0.00,0.0,0.3,14.30,987355.56,213800.92,997818.27,223006.19
3,1,2018-06-01 00:51:25,2018-06-01 00:51:29,3,0.00,1,N,145,145,2,...,0.5,0.5,0.00,0.0,0.3,3.80,998207.57,211280.69,998207.57,211280.69
4,1,2018-06-01 00:55:06,2018-06-01 00:55:10,1,0.00,1,N,145,145,2,...,0.5,0.5,0.00,0.0,0.3,3.80,998207.57,211280.69,998207.57,211280.69
5,1,2018-06-01 00:09:00,2018-06-01 00:24:01,1,2.00,1,N,161,234,1,...,0.5,0.5,2.55,0.0,0.3,15.35,990433.41,215448.36,986894.30,208964.96
6,1,2018-06-01 00:02:33,2018-06-01 00:13:01,2,1.50,1,N,163,233,1,...,0.5,0.5,1.95,0.0,0.3,11.75,990609.94,217764.31,992568.05,212203.98
7,1,2018-06-01 00:13:23,2018-06-01 00:16:52,1,0.70,1,N,186,246,1,...,0.5,0.5,1.85,0.0,0.3,8.15,986346.34,211974.16,983193.73,213400.59
8,1,2018-06-01 00:24:29,2018-06-01 01:08:43,1,5.70,1,N,230,179,2,...,0.5,0.5,0.00,0.0,0.3,23.30,988628.08,216098.91,1004253.56,220334.19
9,2,2018-06-01 00:17:01,2018-06-01 00:23:16,1,0.85,1,N,179,223,2,...,0.5,0.5,0.00,0.0,0.3,7.30,1004253.56,220334.19,1010330.24,222885.45
10,2,2018-06-01 00:25:17,2018-06-01 00:47:24,1,6.25,1,N,223,186,1,...,0.5,0.5,0.00,0.0,0.3,22.30,1010330.24,222885.45,986346.34,211974.16
11,1,2018-06-01 00:39:42,2018-06-01 00:57:23,1,3.50,1,N,141,179,1,...,0.5,0.5,2.95,0.0,0.3,17.75,995431.25,218700.46,1004253.56,220334.19
12,1,2018-06-01 00:25:43,2018-06-01 00:40:07,1,3.00,1,N,138,7,1,...,0.5,0.5,3.45,0.0,0.3,17.25,1019304.02,221604.40,1006324.94,216569.41
13,1,2018-06-01 00:56:46,2018-06-01 01:08:33,4,2.60,1,N,138,57,2,...,0.5,0.5,0.00,0.0,0.3,13.30,1019304.02,221604.40,nan,nan
14,1,2018-06-01 00:11:53,2018-06-01 00:39:17,1,10.00,1,N,132,61,2,...,0.5,0.5,0.00,0.0,0.3,31.80,1042627.91,173494.35,1000222.66,184828.37
15,1,2018-06-01 00:33:34,2018-06-01 00:51:15,1,4.60,1,N,264,264,1,...,0.5,0.5,2.00,0.0,0.3,19.80,nan,nan,nan,nan
16,2,2018-06-01 00:02:18,2018-06-01 00:08:05,1,0.75,1,N,229,141,1,...,0.5,0.5,4.00,0.0,0.3,10.80,993947.23,214918.74,995431.25,218700.46
17,2,2018-06-01 00:40:22,2018-06-01 00:52:20,1,3.94,1,N,148,233,1,...,0.5,0.5,3.70,0.0,0.3,18.50,986837.85,201264.70,992568.05,212203.98
18,1,2018-06-01 00:22:51,2018-06-01 00:30:01,1,1.40,1,N,142,238,1,...,0.5,0.5,1.75,0.0,0.3,10.55,989365.57,221142.06,991717.63,227746.10
19,1,2018-06-01 00:26:26,2018-06-01 00:26:26,2,0.00,1,N,114,264,2,...,0.5,0.5,0.00,0.0,0.3,20.80,985030.85,204700.77,nan,nan
20,2,2018-06-01 00:15:05,2018-06-01 00:19:52,1,2.96,1,N,238,244,2,...,0.5,0.5,0.00,0.0,0.3,11.30,991717.63,227746.10,1000637.16,245752.66
21,1,2018-06-01 00:06:03,2018-06-01 00:16:01,1,1.70,1,N,264,264,1,...,0.5,0.5,1.95,0.0,0.3,11.75,nan,nan,nan,nan
22,1,2018-06-01 00:47:30,2018-06-01 00:55:05,2,1.50,1,N,264,264,1,...,0.5,0.5,1.20,0.0,0.3,10.00,nan,nan,nan,nan
23,1,2018-06-01 00:09:50,2018-06-01 00:20:33,1,2.80,1,N,231,52,1,...,0.5,0.5,2.15,0.0,0.3,13.95,982236.37,201073.41,985219.09,189371.99
24,1,2018-06-01 00:27:13,2018-06-01 00:54:42,1,5.50,1,N,25,231,2,...,0.5,0.5,0.00,0.0,0.3,23.30,988001.91,189102.80,982236.37,201073.41
25,1,2018-06-01 00:15:59,2018-06-01 00:16:05,1,8.60,1,N,265,265,1,...,0.5,0.5,128.00,0.0,0.3,131.80,nan,nan,nan,nan
26,1,2018-06-01 00:49:26,2018-06-01 01:02:54,1,2.40,1,N,79,87,1,...,0.5,0.5,2.55,0.0,0.3,15.35,988320.12,204490.06,982242.97,196731.42
27,1,2018-06-01 00:13:01,2018-06-01 00:23:06,1,1.30,1,N,161,48,1,...,0.5,0.5,1.85,0.0,0.3,11.15,990433.41,215448.36,987065.47,216984.69
28,1,2018-06-01 00:25:05,2018-06-01 00:38:08,2,2.90,1,N,48,79,1,...,0.5,0.5,2.55,0.0,0.3,15.35,987065.47,216984.69,988320.12,204490.06
29,1,2018-06-01 00:41:13,2018-06-01 01:00:58,1,6.20,1,N,79,151,1,...,0.5,0.5,4.16,0.0,0.3,24.96,988320.12,204490.06,993048.45,229960.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8713801,2,2018-06-30 23:23:44,2018-06-30 23:53:49,1,4.29,1,N,158,163,1,...,0.5,0.5,4.46,0.0,0.3,26.76,981541.04,207164.65,990609.94,217764.31
8713802,2,2018-06-30 23:55:00,2018-07-01 00:16:34,1,3.09,1,N,163,68,2,...,0.5,0.5,0.00,0.0,0.3,16.80,990609.94,217764.31,984272.40,211950.47
8713803,1,2018-06-30 23:00:54,2018-06-30 23:09:52,0,1.80,1,N,162,236,2,...,0.5,0.5,0.00,0.0,0.3,9.80,991876.75,215015.15,996155.90,223614.97
8713804,1,2018-06-30 23:15:49,2018-06-30 23:25:40,0,3.00,1,Y,237,74,2,...,0.5,0.5,0.00,0.0,0.3,12.30,993768.78,219305.45,1001578.96,232789.87
8713805,2,2018-06-30 23:23:00,2018-06-30 23:28:53,1,1.54,1,N,229,236,2,...,0.5,0.5,0.00,0.0,0.3,8.30,993947.23,214918.74,996155.90,223614.97
8713806,2,2018-06-30 23:44:04,2018-06-30 23:57:23,1,0.77,1,N,230,186,2,...,0.5,0.5,0.00,0.0,0.3,9.80,988628.08,216098.91,986346.34,211974.16
8713807,2,2018-06-30 23:59:13,2018-07-01 00:12:28,1,1.53,1,N,186,107,2,...,0.5,0.5,0.00,0.0,0.3,9.30,986346.34,211974.16,988679.70,207908.95
8713808,1,2018-06-30 23:17:43,2018-06-30 23:53:31,1,7.00,1,N,48,33,1,...,0.5,0.5,5.75,0.0,0.3,34.55,987065.47,216984.69,985353.26,192941.71
8713809,1,2018-06-30 23:09:36,2018-06-30 23:23:27,1,1.70,1,N,234,48,1,...,0.5,0.5,2.35,0.0,0.3,14.15,986894.30,208964.96,987065.47,216984.69
8713810,1,2018-06-30 23:24:20,2018-06-30 23:41:19,1,2.00,1,N,246,158,1,...,0.5,0.5,2.65,0.0,0.3,15.95,983193.73,213400.59,981541.04,207164.65
8713811,1,2018-06-30 23:53:20,2018-07-01 00:12:02,3,2.00,1,N,158,114,1,...,0.5,0.5,2.75,0.0,0.3,16.55,981541.04,207164.65,985030.85,204700.77
8713812,1,2018-06-30 23:19:43,2018-06-30 23:32:10,2,2.70,1,N,236,42,2,...,0.5,0.5,0.00,0.0,0.3,12.80,996155.90,223614.97,1000036.98,238383.30
8713813,2,2018-06-30 23:04:10,2018-06-30 23:14:56,1,2.51,1,N,25,225,2,...,0.5,0.5,0.00,0.0,0.3,11.30,988001.91,189102.80,1003628.84,190201.55
8713814,2,2018-06-30 23:29:48,2018-06-30 23:42:51,1,3.92,1,N,97,255,1,...,0.5,0.5,2.30,0.0,0.3,17.60,990851.61,190708.98,996089.88,201154.90
8713815,2,2018-06-30 23:44:57,2018-07-01 00:04:58,1,5.27,1,N,255,181,2,...,0.5,0.5,0.00,0.0,0.3,20.30,996089.88,201154.90,989015.82,184080.99
8713816,2,2018-06-30 23:14:22,2018-06-30 23:20:15,1,1.00,1,N,90,107,1,...,0.5,0.5,1.46,0.0,0.3,8.76,985089.24,209710.35,988679.70,207908.95
8713817,2,2018-06-30 23:31:49,2018-06-30 23:43:35,1,2.22,1,N,148,90,1,...,0.5,0.5,2.26,0.0,0.3,13.56,986837.85,201264.70,985089.24,209710.35
8713818,2,2018-06-30 23:45:46,2018-06-30 23:51:47,1,0.99,1,N,164,107,1,...,0.5,0.5,1.46,0.0,0.3,8.76,988216.72,212188.34,988679.70,207908.95
8713819,2,2018-06-30 23:55:00,2018-07-01 00:01:58,1,1.07,1,N,137,90,1,...,0.5,0.5,1.95,0.0,0.3,9.75,990575.78,209001.82,985089.24,209710.35
8713820,1,2018-06-30 23:08:00,2018-06-30 23:32:29,0,5.30,1,N,163,7,1,...,0.5,0.5,4.25,0.0,0.3,25.55,990609.94,217764.31,1006324.94,216569.41
8713821,2,2018-06-30 22:59:16,2018-06-30 23:13:46,3,2.46,1,N,114,233,1,...,0.5,0.5,2.56,0.0,0.3,15.36,985030.85,204700.77,992568.05,212203.98
8713822,2,2018-06-30 23:36:14,2018-06-30 23:40:03,4,0.89,1,N,48,163,2,...,0.5,0.5,0.00,0.0,0.3,6.30,987065.47,216984.69,990609.94,217764.31
8713823,2,2018-06-30 23:41:17,2018-07-01 00:00:36,3,2.43,1,N,163,113,1,...,0.5,0.5,3.70,0.0,0.3,18.50,990609.94,217764.31,985644.70,206046.02
8713824,2,2018-06-30 23:18:21,2018-06-30 23:30:27,1,3.13,1,N,74,126,2,...,0.5,0.5,0.00,0.0,0.3,13.80,1001578.96,232789.87,1015921.19,235831.52
8713825,2,2018-06-30 23:45:36,2018-07-01 00:02:02,1,3.41,1,N,74,147,2,...,0.5,0.5,0.00,0.0,0.3,15.30,1001578.96,232789.87,1012302.85,237700.52
8713826,2,2018-06-30 23:09:48,2018-06-30 23:21:09,1,5.00,1,N,138,92,2,...,0.5,0.5,0.00,0.0,0.3,17.30,1019304.02,221604.40,1032064.32,217800.78
8713827,1,2018-06-30 23:39:24,2018-06-30 23:45:02,3,0.70,1,N,230,230,2,...,0.5,0.5,0.00,0.0,0.3,6.80,988628.08,216098.91,988628.08,216098.91
8713828,2,2018-06-30 23:24:13,2018-06-30 23:34:31,2,1.88,1,N,166,239,2,...,0.5,0.5,0.00,0.0,0.3,10.80,994878.89,234246.40,990139.87,224918.92
8713829,2,2018-06-30 23:46:15,2018-06-30 23:57:42,1,2.40,1,N,142,68,2,...,0.5,0.5,0.00,0.0,0.3,11.80,989365.57,221142.06,984272.40,211950.47
8713830,2,2018-06-30 23:43:59,2018-06-30 23:43:59,1,0.00,1,N,264,7,1,...,0.0,0.0,0.00,0.0,0.0,0.00,nan,nan,1006324.94,216569.41

In [35]:
df_g.to_csv("green_tripdata_2018_june_output.csv", index=False)

In [36]:
df_y.to_csv("yellow_tripdata_2018_june_output.csv", index=False)